@page
@using ProEShop.Entities.Enums
@model ProEShop.Web.Pages.Cart.CheckoutModel
@{
    ViewData["Title"] = "ثبت سفارش";
    Layout = "_CheckoutAndLayoutLayout";

    var cartItems = Model.CheckoutPage.CartItems;
    var userAddress = Model.CheckoutPage.UserAddress;

    // ارسال عادی
    var normalProducts = cartItems
        .Where(x => x.ProductVariantProductDimension == Dimension.Normal)
        .ToList();

    // ارسال کالاهای سنگین
    var heavyProducts = cartItems
        .Where(x => x.ProductVariantProductDimension == Dimension.Heavy)
        .ToList();

    // ارسال کالاهای فوق سنگین
    var ultraHeavyProducts = cartItems
        .Where(x => x.ProductVariantProductDimension == Dimension.UltraHeavy)
        .ToList();

    // قیمت کل کالاهایی که ابعادشان عادی است
    var sumPriceOfNormalProducts = normalProducts
        .Sum(x => 
                (x.IsDiscountActive ? x.ProductVariantOffPrice.Value : x.ProductVariantPrice)
                *
                x.Count
            );

    // قیمت کل کالاهایی که ابعادشان سنگین است
    var sumPriceOfHeavyProducts = heavyProducts
        .Sum(x => 
            (x.IsDiscountActive ? x.ProductVariantOffPrice.Value : x.ProductVariantPrice)
            *
            x.Count
        );

    // این سفارش در چند مرسوله ارسال میشود ؟
    var shippingCount = 0;

    if (normalProducts.Count > 0)
        shippingCount++;
    if (heavyProducts.Count > 0)
        shippingCount++;
    if (ultraHeavyProducts.Count > 0)
        shippingCount++;

    // مجموع امتیاز هایی که کاربر بعد از پایان مهلت مرجوعی به دست میاورد
    var sumScore = cartItems.Sum(x => x.Score);
    if (sumScore > 150)
        sumScore = 150;

    // تعداد محصولاتی که در داخل سبد خرید قرار دارند
    var allProductsCountInCart = cartItems.Sum(x => x.Count);

    // قیمت نهایی بدون محاسبه تخفیف
    var totalPrice = cartItems
        .Sum(x => x.ProductVariantPrice * x.Count);

    // قیمت نهایی با محاسبه تخفیف
    var totalPriceWithDiscount = cartItems
        .Sum(x =>
            (x.IsDiscountActive ? x.ProductVariantOffPrice.Value : x.ProductVariantPrice)
            *
            x.Count
        );

    // قیمت کل بدون تخفیف
    // منهای قیمت کل با محاسبه تخفیف
    // میزان قیمت تخفیفی که به کاربر میدهیم
    var discountPrice = totalPrice - totalPriceWithDiscount;

    // درصد تخفیف
    byte discountPercentage = 0;

    // اگر این سبد خرید تخفیف داشت
    if (totalPrice != totalPriceWithDiscount)
    {
        // قیمت کل تقسیم بر 100
        // چرا به سمت بالا گرد میکنیم ؟
        // برای مثال قیمت کل سبد خرید 90 تومان است
        // حالا اگر 90 را بر 100 تقسیم کنیم، جواب
        // عددی بین صفر و یک است و اگر به بالا گرد نکنیم، به سمت پایین گرد میشود
        // و جواب صفر به دست می آید
        // و ما اصلا نمیتوانیم چیزی را بر صفر تقسیم کنیم که بعدا بتوانیم از این
        // متغیر استفاده کنیم
        var totalPriceDivideBy100 = Math.Ceiling(totalPrice / (double)100);

        // درصدی که کاربر از قیمت نهایی پرداخت میکند
        // برای مثال کاربر 98 درصد کل قیمت سبد خرید را پرداخت میکند
        // و 2 درصد باقیمانده هم به خاطر تخفیف پرداخت نمیشود
        var percentageOfTotalPriceOfCartThatUserMustPay = Math.Floor(totalPriceWithDiscount / totalPriceDivideBy100);

        // درصد کل تخیفی که کاربر در این سبد خرید دریافت میکند
        discountPercentage = (byte)(100 - percentageOfTotalPriceOfCartThatUserMustPay);
    }

    var sumPriceOfShipping = 0;

    if (sumPriceOfNormalProducts < 500000 && normalProducts.Count > 0)
    {
        sumPriceOfShipping += 30000;
    }

    if (sumPriceOfHeavyProducts < 500000 && heavyProducts.Count > 0)
    {
        sumPriceOfShipping += 45000;
    }
}

<div class="container mt-4">

    <div class="d-flex flex-column align-items-center border rounded-3 p-4">
        <a asp-page="../Index">
            <img width="200" src="~/images/application/eshop.png" />
        </a>
        <div class="d-flex align-items-center mt-5 text-danger">
            <div class="d-flex me-3 cart-section-in-checkout-and-payment">
                <i class="bi bi-cart me-2"></i>
                <div class="fw-bold">سبد خرید</div>
            </div>
            <div class="checkout-and-payment-line-in-header bg-danger me-3"></div>
            <div class="d-flex me-3 rem21px">
                <i class="bi bi-truck me-2"></i>
                <div class="fw-bold">زمان و نحوه ارسال</div>
            </div>
            <div class="checkout-and-payment-line-in-header bg-custom-grey me-3"></div>
            <div class="d-flex text-black-50">
                <i class="bi bi-credit-card me-2"></i>
                <div class="fw-bold">پرداخت</div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-lg-9">
            <div class="border rounded-3 p-4 d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <div class="me-3">
                        <i class="bi bi-geo-alt rem21px"></i>
                    </div>
                    <div>
                        <div class="text-black-50 rem13px mb-2">آدرس تحویل سفارش</div>
                        <div class="fw-bold rem15px mb-2">
                            @userAddress.ProvinceTitle -
                            @userAddress.CityTitle -
                            @userAddress.AddressLine
                        </div>
                        <div class="rem15px text-black-50">
                            @userAddress.FullName
                        </div>
                    </div>
                </div>
                <div class="text-info pointer-cursor rem14px">
                    <span>تغییر</span>
                    |
                    <span>ویرایش</span>
                    <i class="bi bi-chevron-left rem11px"></i>
                </div>
            </div>

            @if (shippingCount > 1)
            {
                <div class="text-black-50 rem15px mt-4 d-flex align-items-center">
                    <i class="bi bi-info-circle me-2 rem19px"></i>
                    این سفارش در چند نوبت (مرسوله) ارسال می شود چون شامل کالای سنگین یا فوق سنگین است
                </div>
            }

            <div class="border rounded-3 px-2 mt-4">

                <!-- Shipping -->
                @if (normalProducts.Count > 0)
                {
                    <div class="py-4 px-2">
                        <div class="d-flex align-items-center">
                            <i class="bi bi-truck rem21px text-danger"></i>
                            <span class="fw-bold rem18px mx-2">ارسال عادی</span>
                            <span class="badge rounded-pill bg-secondary">
                                <span class="persian-numbers">@normalProducts.Count</span>
                                کالا
                            </span>
                        </div>

                        <!-- Shipping items -->
                        <div class="mt-5 d-flex flex-wrap">

                            @foreach (var normalProduct in normalProducts)
                            {
                                <div class="px-2 pb-4 shipping-item-in-checkout-and-payment">
                                    <div class="position-relative">
                                        <img src="@WwwRootPaths.ProductImage/@normalProduct.ProductPicture" width="100" height="100" />
                                        <span class="position-absolute badge rounded-pill bg-secondary persian-numbers">
                                            @normalProduct.Count
                                        </span>
                                    </div>
                                    @if (normalProduct.ProductVariantVariantValue != null)
                                    {
                                        <div class="d-flex align-items-center mt-2">
                                            @if (normalProduct.ProductVariantVariantIsColor.Value)
                                            {
                                                <div class="color-element-in-checkout-and-payment rounded-circle me-1" style="background-color: @normalProduct.ProductVariantVariantColorCode;"></div>
                                            }
                                            else
                                            {
                                                <i class="bi bi-sort-numeric-up me-1"></i>
                                            }
                                            <div class="rem14px text-secondary">@normalProduct.ProductVariantVariantValue</div>
                                        </div>
                                    }
                                </div>
                            }

                        </div>
                        <!-- End shipping items -->
                        <div>
                            هزینه ارسال:
                            <span class="fw-bold">
                                @if (sumPriceOfNormalProducts >= 500000)
                                {
                                    @:رایگان
                                }
                                else
                                {
                                    <span>
                                        ۳۰,۰۰۰
                                        تومان
                                    </span>
                                }
                            </span>
                        </div>
                    </div>
                }

                @if (heavyProducts.Count > 0)
                {
                    <div class="py-4 px-2">
                        <div class="d-flex align-items-center">
                            <i class="bi bi-truck rem21px text-danger"></i>
                            <span class="fw-bold rem18px mx-2">
                                ارسال کالاهای بزرگ و سنگین
                            </span>
                            <span class="badge rounded-pill bg-secondary">
                                <span class="persian-numbers">@heavyProducts.Count</span>
                                کالا
                            </span>
                        </div>

                        <!-- Shipping items -->
                        <div class="mt-5 d-flex flex-wrap">

                            @foreach (var heavyProduct in heavyProducts)
                            {
                                <div class="px-2 pb-4 shipping-item-in-checkout-and-payment">
                                    <div class="position-relative">
                                        <img src="@WwwRootPaths.ProductImage/@heavyProduct.ProductPicture" width="100" height="100" />
                                        <span class="position-absolute badge rounded-pill bg-secondary persian-numbers">
                                            @heavyProduct.Count
                                        </span>
                                    </div>
                                    @if (heavyProduct.ProductVariantVariantValue != null)
                                    {
                                        <div class="d-flex align-items-center mt-2">
                                            @if (heavyProduct.ProductVariantVariantIsColor.Value)
                                            {
                                                <div class="color-element-in-checkout-and-payment rounded-circle me-1" style="background-color: @heavyProduct.ProductVariantVariantColorCode;"></div>
                                            }
                                            else
                                            {
                                                <i class="bi bi-sort-numeric-up me-1"></i>
                                            }
                                            <div class="rem14px text-secondary">@heavyProduct.ProductVariantVariantValue</div>
                                        </div>
                                    }
                                </div>
                            }

                        </div>
                        <!-- End shipping items -->
                        <div>
                            هزینه ارسال:
                            <span class="fw-bold">
                                @if (sumPriceOfHeavyProducts >= 500000)
                                {
                                    @:رایگان
                                }
                                else
                                {
                                    <span>
                                        ۴۵,۰۰۰
                                        تومان
                                    </span>
                                }
                            </span>
                        </div>
                    </div>
                }

                @if (ultraHeavyProducts.Count > 0)
                {
                    <div class="py-4 px-2">
                        <div class="d-flex align-items-center">
                            <i class="bi bi-truck rem21px text-warning"></i>
                            <span class="fw-bold rem18px mx-2">
                                ارسال کالاهای فوق سنگین
                            </span>
                            <span class="badge rounded-pill bg-secondary">
                                <span class="persian-numbers">@ultraHeavyProducts.Count</span>
                                کالا
                            </span>
                        </div>

                        <!-- Shipping items -->
                        <div class="mt-5 d-flex flex-wrap">

                            @foreach (var ultraHeavyProduct in ultraHeavyProducts)
                            {
                                <div class="px-2 pb-4 shipping-item-in-checkout-and-payment">
                                    <div class="position-relative">
                                        <img src="@WwwRootPaths.ProductImage/@ultraHeavyProduct.ProductPicture" width="100" height="100" />
                                        <span class="position-absolute badge rounded-pill bg-secondary persian-numbers">
                                            @ultraHeavyProduct.Count
                                        </span>
                                    </div>
                                    @if (ultraHeavyProduct.ProductVariantVariantValue != null)
                                    {
                                        <div class="d-flex align-items-center mt-2">
                                            @if (ultraHeavyProduct.ProductVariantVariantIsColor.Value)
                                            {
                                                <div class="color-element-in-checkout-and-payment rounded-circle me-1" style="background-color: @ultraHeavyProduct.ProductVariantVariantColorCode;"></div>
                                            }
                                            else
                                            {
                                                <i class="bi bi-sort-numeric-up me-1"></i>
                                            }
                                            <div class="rem14px text-secondary">@ultraHeavyProduct.ProductVariantVariantValue</div>
                                        </div>
                                    }
                                </div>
                            }

                        </div>
                        <!-- End shipping items -->
                        <div>
                            هزینه ارسال:
                            <span class="persian-numbers fw-bold">
                                باربری
                                (هزینه ارسال به صورت پس کرایه - حداقل ۱۲۰ هزار تومان)
                            </span>
                        </div>
                    </div>
                }

                <!-- End shipping -->
            </div>
        </div>

        <div class="col-lg-3 ps-0">
            <div class="container-fluid">
                <div class="row border rounded-3">
                    <div>
                        <div class="d-flex justify-content-between rem14px mt-4 text-secondary">
                            <div>
                                قیمت کالاها
                                (<span class="persian-numbers">@allProductsCountInCart</span>)
                            </div>
                            <div>
                                <span class="persian-numbers">
                                    @totalPrice.ToString("#,0")
                                </span>
                                تومان
                            </div>
                        </div>
                        <hr />
                    </div>
                    <div class="d-flex justify-content-between align-items-center rem14px">
                        <div class="d-flex align-items-center">
                            <span class="me-1">هزینه ارسال</span>
                            <div class="dropdown" id="shipping-dropdown">
                                <span class="d-flex align-items-center badge rounded-pill bg-info pointer-cursor"
                                      data-bs-toggle="dropdown">
                                    <span class="me-1">
                                        <span class="persian-numbers">
                                            @shippingCount
                                        </span>
                                        مرسوله
                                    </span>
                                    <i class="bi bi-chevron-down"></i>
                                </span>
                                <div class="dropdown-menu px-2 rem13px rounded-1">
                                    @if (normalProducts.Count > 0)
                                    {
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <i class="bi bi-truck rem21px text-danger me-1"></i>
                                                ارسال عادی
                                            </div>
                                            <div>
                                                @if (sumPriceOfNormalProducts >= 500000)
                                                {
                                                    @:رایگان
                                                }
                                                else
                                                {
                                                    <span>
                                                        ۳۰,۰۰۰
                                                        تومان
                                                    </span>
                                                }
                                            </div>
                                        </div>
                                    }
                                    @if (heavyProducts.Count > 0)
                                    {
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <i class="bi bi-truck rem21px text-danger me-1"></i>
                                                ارسال کالاهای بزرگ و سنگین
                                            </div>
                                            <div>
                                                @if (sumPriceOfHeavyProducts >= 500000)
                                                {
                                                    @:رایگان
                                                }
                                                else
                                                {
                                                    <span>
                                                        ۴۵,۰۰۰
                                                        تومان
                                                    </span>
                                                }
                                            </div>
                                        </div>
                                    }
                                    @if (ultraHeavyProducts.Count > 0)
                                    {
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <i class="bi bi-truck rem21px text-warning me-1"></i>
                                                ارسال کالاهای فوق سنگین
                                            </div>
                                            <div>
                                                باربری (هزینه ارسال به صورت پس کرایه - حداقل
                                                ۱۲۰
                                                هزار تومان)
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="fw-bold rem14px ms-3">
                            @if (sumPriceOfShipping == 0)
                            {
                                @:رایگان
                            }
                            else
                            {
                                <span class="persian-numbers">@sumPriceOfShipping.ToString("#,0")</span>
                                @:تومان
                            }
                            @if (ultraHeavyProducts.Count > 0)
                            {
                                @: به همراه پس کرایه
                            }
                        </div>
                    </div>
                    <div class="mt-3 rem12px text-secondary">
                        هزینه ارسال بر اساس آدرس، وزن و حجم مرسوله شما محاسبه میشود
                        <hr />
                    </div>
                    @if (discountPercentage > 0)
                    {
                        <div class="d-flex justify-content-between text-danger mb-4">
                            <div class="rem14px">
                                سود شما از خرید
                            </div>
                            <div class="fw-bold">
                                (<span class="persian-numbers">@discountPercentage</span>%)
                                <span class="persian-numbers">@discountPrice.ToString("#,0")</span>
                                تومان
                            </div>
                        </div>
                    }
                    <div class="d-flex justify-content-between rem14px">
                        <div>
                            قابل پرداخت
                        </div>
                        <div class="rem16px fw-bold">
                            <span class="persian-numbers">
                                @((totalPriceWithDiscount + sumPriceOfShipping).ToString("#,0"))
                            </span>
                            تومان
                        </div>
                    </div>
                    <div class="d-grid mt-4">
                        <a asp-page="Payment" class="btn btn-danger rounded-3 fw-bold py-2">
                            ادامه
                        </a>
                    </div>
                    <div class="d-flex justify-content-between align-items-center bg-custom-grey mt-3 p-3 rounded-bottom">
                        <div class="rem14px">
                            پروکلاب
                            <i class="bi bi-info-circle" data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="بعد از پایان مهلت مرجوعی، برای دریافت امتیاز به صفحه ماموریت های پروشاپی سر بزنید."></i>
                        </div>
                        <div>
                            <span class="fw-bold persian-numbers">@sumScore</span>
                            <span class="rem12px">
                                امتیاز
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="d-flex border rounded-3 mt-4 justify-content-between p-3">
                        <div class="d-flex flex-column justify-content-between">
                            <span class="fw-bold">ارسال رایگان</span>
                            <span class="rem13px text-secondary">
                                برای سفارش بالای
                                ۵۰۰
                                هزار تومان
                            </span>
                        </div>
                        <img width="100" src="~/images/application/free-delivery.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section CustomScripts
    {
    <script src="~/Pages/Cart/Checkout.cshtml.js"></script>
}