@model List<ProEShop.ViewModels.ConsignmentItems.ShowConsignmentItemViewModel>
<div class="table-responsive data-table-body">
    <table class="table table-bordered table-striped table-hover">
        <thead class="table-light">
            <tr>
                <th>@Html.DisplayNameFor(x => x[0].Id)</th>
                <th>@Html.DisplayNameFor(x => x[0].ProductVariantProductId)</th>
                <th>@Html.DisplayNameFor(x => x[0].ProductVariantProductPersianTitle)</th>
                <th>@Html.DisplayNameFor(x => x[0].ProductVariantVariantValue)</th>
                <th>@Html.DisplayNameFor(x => x[0].ProductVariantPrice)</th>
                <th>@Html.DisplayNameFor(x => x[0].Count)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var consignmentItem in Model)
            {
                <tr>
                    <td>@consignmentItem.Id</td>
                    <td>@consignmentItem.ProductVariantProductId</td>
                    <td>@consignmentItem.ProductVariantProductPersianTitle</td>
                    <td>
                        @consignmentItem.ProductVariantVariantValue
                        @if (consignmentItem.ProductVariantVariantIsColor)
                        {
                            <span class="rounded" style="background: @consignmentItem.ProductVariantVariantColorCode">
                                &nbsp;
                                &nbsp;
                                &nbsp;
                            </span>
                        }
                    </td>
                    <td>
                        @consignmentItem.ProductVariantPrice
                        تومان
                    </td>
                    <td>@consignmentItem.Count</td>
                </tr>
            }
        </tbody>
    </table>
    <form functionNameToCallInTheEnd="confirmationConsignment"
          class="public-ajax-form" method="post" asp-page-handler="ConfirmationConsignment">
        <input type="hidden" name="consignmentId" value="@Model[0].ConsignmentId" />
        <div class="d-grid p-1">
            <button class="btn btn-success">تایید کردن محموله</button>
        </div>
    </form>
</div>