@model (int pagesCount, int currentPage, string functionName)

@{
    var functionName = Model.functionName;
    var pagesCount = Model.pagesCount;
    var currentPage = Model.currentPage;
    var startPage = currentPage - 1 < 1 ? 1 : currentPage - 1;
    var endPage = currentPage + 1 > pagesCount ? pagesCount : currentPage + 1;
    var previousPage = currentPage - 1 < 1 ? 1 : currentPage - 1;
    var nextPage = currentPage + 1 > pagesCount ? pagesCount : currentPage + 1;
    var isFirstPage = currentPage == 1;
    var isLastPage = currentPage == pagesCount;

    var paginationBoxClass = "justify-content-center";
    if (pagesCount > 1)
    {
        if (isFirstPage)
        {
            paginationBoxClass = "justify-content-end";
        }
        else if (isLastPage)
        {
            paginationBoxClass = "justify-content-start";
        }
    }

    if (currentPage <= 4)
    {
        startPage = 1;
    }

    if (pagesCount - 3 <= currentPage)
    {
        endPage = pagesCount;
    }
}

<div class="d-flex mt-4 align-items-center">
    @if (!isFirstPage)
    {
        <div class="flex-grow-1 text-danger d-flex">
            <div functionNameToCallOnClick="@functionName" page-number="@previousPage"
             class="get-html-with-ajax pointer-cursor">
                <i class="bi bi-chevron-right rem12px"></i>
                <span class="rem14px ms-1">قبلی</span>
            </div>
        </div>
    }
    <div class="flex-grow-1 d-flex @(paginationBoxClass) pagination-box-in-single-page-of-product">
        @if (currentPage >= 5)
        {
            <div functionNameToCallOnClick="@functionName" page-number="1"
             class="get-html-with-ajax persian-numbers rounded-circle mx-1 d-flex align-items-center justify-content-center pointer-cursor rem14px">
                ۱
            </div>
            <div class="pagination-dots-in-single-page-of-produdts d-flex justify-content-center align-items-center rem11px">...</div>
        }
        @for (int counter = startPage; counter <= endPage; counter++)
        {
            <div functionNameToCallOnClick="@functionName" page-number="@counter"
             class="get-html-with-ajax persian-numbers rounded-circle mx-1 d-flex align-items-center justify-content-center pointer-cursor rem14px@(counter == currentPage ? " bg-danger text-white" : string.Empty)">
                @counter
            </div>
        }
        @if (pagesCount - 3 > currentPage)
        {
            <div class="pagination-dots-in-single-page-of-produdts d-flex justify-content-center align-items-center rem11px">...</div>
            <div functionNameToCallOnClick="@functionName" page-number="@pagesCount"
             class="get-html-with-ajax persian-numbers rounded-circle mx-1 d-flex align-items-center justify-content-center pointer-cursor rem14px">
                @pagesCount
            </div>
        }
    </div>
    @if (!isLastPage)
    {
        <div class="flex-grow-1 text-danger d-flex justify-content-end">
            <div functionNameToCallOnClick="@functionName" page-number="@nextPage"
             class="get-html-with-ajax pointer-cursor">
                <span class="rem14px me-1">بعدی</span>
                <i class="bi bi-chevron-left rem12px"></i>
            </div>
        </div>
    }
</div>