@page "{categorySlug}/{brandSlug?}"
@using ProEShop.ViewModels.Search
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using DNTPersianUtils.Core
@model ProEShop.Web.Pages.Search.ShowCategoryModel
@{
}

<div class="container">
    <div class="rem14px text-secondary mt-3">
        فروشگاه اینترنتی پروشاپ
        <span class="mx-1">/</span>
        <span>کالای دیجیتال</span>
        <span class="mx-1">/</span>
        <span>موبایل</span>
    </div>
    <div class="row mt-3">
        <div class="col-lg-3">
            <div class="border rounded-3">
                <div class="d-flex justify-content-between mt-3 align-items-center mx-3">
                    <div class="fw-bold">فیلتر ها</div>
                    <div class="text-info rem13px pointer-cursor">حذف فیلتر ها</div>
                </div>
                <div class="mt-4">
                    <div class="mb-3">
                        <div class="d-flex justify-content-between mx-3 pointer-cursor" data-bs-toggle="collapse" data-bs-target="#brands-el-for-collapse-in-search-on-category">
                            <div class="fw-bold d-flex align-items-center">
                                <div>برند</div>
                                <div class="ms-2 circle-dot-in-search-on-category bg-info rounded-circle"></div>
                            </div>
                            <div>
                                <i class="bi bi-chevron-down"></i>
                            </div>
                        </div>
                        <div class="d-none text-truncate text-secondary mt-1 rem14px mx-3 pointer-cursor" id="selected-brands-in-search-on-category"></div>
                        <div class="list-in-search-on-category mt-3 overflow-auto border-bottom collapse" id="brands-el-for-collapse-in-search-on-category">
                            <label class="border rounded-3 d-flex py-2 align-items-center mx-3">
                                <i class="bi bi-search ms-3"></i>
                                <input maxlength="200" type="text" class="search-input-in-search-on-category ms-3 border-0 bg-transparent w-100" placeholder="جستجو برند ..." />
                                <i class="bi bi-x-circle-fill pointer-cursor me-2 d-none input-clear-icon-in-search-on-category"></i>
                            </label>
                            <div class="ms-3 mt-3 me-2 d-none selected-items-in-search-on-category">
                                <div class="rem13px text-secondary mb-2">انتخاب شما</div>
                                <div class="mb-3"></div>
                                <div class="rem13px text-secondary">
                                    همه ی برند ها
                                </div>
                            </div>
                            <div class="mt-3 ms-3 me-2" id="brands-box-in-search-on-category">
                                @foreach (var brand in Model.SearchOnCategory.CategoryBrands)
                                {
                                    <div class="pb-3 d-flex justify-content-between align-items-center list-item-in-search-on-category" title-to-search="@brand.BrandTitleEn.ToLower() @brand.BrandTitleFa">
                                        <label class="me-2">
                                            <input value="@brand.BrandId" type="checkbox" class="form-check-input pointer-cursor" id="brand-in-search-on-category-@brand.BrandId" />
                                        </label>
                                        <label for="brand-in-search-on-category-@brand.BrandId" class="d-flex flex-grow-1 align-items-center justify-content-between">
                                            <strong class="me-1 me-1">@brand.BrandTitleFa</strong>
                                            <span class="rem14px text-end">@brand.BrandTitleEn</span>
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="border-bottom mx-3 mt-3"></div>
                    </div>
                    @if (Model.SearchOnCategory.IsVariantColor != null)
                    {
                        var variantType = Model.SearchOnCategory.IsVariantColor.Value ? "رنگ" : "اندازه";
                        <div class="mb-3">
                            <div class="d-flex justify-content-between mx-3 pointer-cursor" data-bs-toggle="collapse" data-bs-target="#colors-and-sizes-el-for-collapse-in-search-on-category">
                                <div class="fw-bold d-flex align-items-center">
                                    <div>@variantType</div>
                                    <div class="ms-2 circle-dot-in-search-on-category bg-info rounded-circle"></div>
                                </div>
                                <div>
                                    <i class="bi bi-chevron-down"></i>
                                </div>
                            </div>
                            <div class="list-in-search-on-category mt-3 overflow-auto border-bottom collapse" id="colors-and-sizes-el-for-collapse-in-search-on-category">
                                <label class="border rounded-3 d-flex py-2 align-items-center mx-3">
                                    <i class="bi bi-search ms-3"></i>
                                    <input maxlength="200" type="text" class="search-input-in-search-on-category ms-3 border-0 bg-transparent w-100" placeholder="جستجو @variantType ..." />
                                    <i class="bi bi-x-circle-fill pointer-cursor me-2 d-none input-clear-icon-in-search-on-category"></i>
                                </label>
                                <div class="ms-3 mt-3 me-2 d-none selected-items-in-search-on-category">
                                    <div class="rem13px text-secondary mb-2">انتخاب شما</div>
                                    <div class="mb-3"></div>
                                    <div class="rem13px text-secondary">
                                        همه ی @variantType ها
                                    </div>
                                </div>
                                <div class="mt-3 ms-3 me-2" id="colors-and-sizes-box-in-search-on-category">
                                    @foreach (var variant in Model.SearchOnCategory.CategoryVariants)
                                    {
                                        <div class="pb-3 d-flex justify-content-between align-items-center list-item-in-search-on-category" title-to-search="@variant.VariantValue">
                                            <label class="me-2">
                                                <input value="@variant.VariantId" type="checkbox" class="form-check-input pointer-cursor" id="colors-and-sizes-in-search-on-category-@variant.VariantId" />
                                            </label>
                                            <label for="colors-and-sizes-in-search-on-category-@variant.VariantId" class="d-flex flex-grow-1 align-items-center justify-content-between">
                                                <strong class="me-1 me-1">@variant.VariantValue</strong>
                                                @if (Model.SearchOnCategory.IsVariantColor.Value)
                                                {
                                                    <span class="me-2 rounded-circle circle-color-in-search-on-category" style="background-color: @variant.VariantColorCode"></span>
                                                }
                                            </label>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="border-bottom mx-3 mt-3"></div>
                        </div>
                    }
                    <div class="mb-3">
                        <div class="d-flex justify-content-between mx-3 pointer-cursor" data-bs-toggle="collapse" data-bs-target="#prices-el-for-collapse-in-search-on-category">
                            <div class="fw-bold d-flex align-items-center">
                                <div>محدوده قیمت</div>
                                <div class="ms-2 circle-dot-in-search-on-category bg-info rounded-circle"></div>
                            </div>
                            <div>
                                <i class="bi bi-chevron-down"></i>
                            </div>
                        </div>
                        <div class="text-truncate text-secondary mt-1 rem14px mx-3 pointer-cursor d-none">
                            از
                            <span>۰</span>
                            تا
                            <span>۰</span>
                        </div>
                        <div class="mt-2 collapse" id="prices-el-for-collapse-in-search-on-category">
                            <div>
                                <div class="d-flex align-items-center">
                                    <div class="ms-3 text-secondary">از</div>
                                    <input can-be-empty="false" maximum-price="@Model.SearchOnCategory.MaximumPrice" maxlength="13" dir="ltr" class="rem18px flex-grow-1 fw-bold mx-2 py-1 px-2 bg-transparent border-0 border-bottom" id="from-price-input-in-search-on-category" value="۰" />
                                    <div class="me-3 rem13px fw-bold">تومان</div>
                                </div>
                                <div class="d-flex align-items-center mt-3">
                                    <div class="ms-3 text-secondary">تا</div>
                                    <input can-be-empty="false" maximum-price="@Model.SearchOnCategory.MaximumPrice" maxlength="13" dir="ltr" class="rem18px flex-grow-1 fw-bold mx-2 py-1 px-2 bg-transparent border-0 border-bottom" id="up-to-price-input-in-search-on-category" value="@Model.SearchOnCategory.MaximumPrice.ToString("#,0").ToPersianNumbers()" />
                                    <div class="me-3 rem13px fw-bold">تومان</div>
                                </div>
                            </div>
                            <div class="mx-4 mt-4" id="prices-range-in-search-on-category" maximum-price="@Model.SearchOnCategory.MaximumPrice" minimum-price="@Model.SearchOnCategory.MinimumPrice"></div>
                        </div>
                        <div class="border-bottom mx-3 mt-3"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div>
                <div class="d-flex align-items-center rem13px justify-content-between border-bottom pb-2">
                    <div class="d-flex align-items-center">
                        <i class="bi bi-sort-down rem16px me-1"></i>
                        <div class="ms-1 me-2">
                            مرتب سازی:
                        </div>
                        <div class="mx-2 pointer-cursor text-danger">پر بازدیدترین</div>
                        <div class="mx-2 pointer-cursor">جدیدترین</div>
                        <div class="mx-2 pointer-cursor">پرفروش ترین</div>
                        <div class="mx-2 pointer-cursor">ارزان ترین</div>
                        <div class="mx-2 pointer-cursor">گران ترین</div>
                    </div>
                    <div>
                        <span class="persian-numbers">@Model.SearchOnCategory.ProductsCount</span>
                        کالا
                    </div>
                </div>
                <div id="products-box-in-search-on-category">
                    @{
                        var productsModel = new ShowProductsInSearchOnCategoryViewModel
                        {
                            CurrentPage = 1,
                            PagesCount = Model.SearchOnCategory.PagesCount,
                            Products = Model.SearchOnCategory.Products
                        };
                    }
                    <partial name="_Products" model="productsModel" />
                </div>
            </div>
        </div>
    </div>
</div>

@section CustomScripts
{
    <script src="~/Pages/Search/ShowCategory.cshtml.js"></script>
    <script src="~/lib/noUiSlider/nouislider.min.js"></script>
}
@section Css
{
    <link rel="stylesheet" href="~/lib/noUiSlider/nouislider.min.css" />
}