@model ProEShop.ViewModels.ProductVariants.ShowProductVariantInCreateConsignmentViewModel

<tr variant-code="@Model.VariantCode">
    <td>@Model.ProductId</td>
    <td>@Model.ProductPersianTitle</td>
    <td>
        @(Model.VariantValue ?? "بدون تنوع")
        @if (Model.VariantIsColor != null)
        {
            @if (Model.VariantIsColor.Value)
            {
                <span class="rounded" style="background: @Model.VariantColorCode">
                    &nbsp;
                    &nbsp;
                    &nbsp;
                </span>
            }
        }
    </td>
    <td>@Model.GuaranteeFullTitle</td>
    <td>
        @Model.Price.ToString("#,0")
        تومان
    </td>
    <td class="text-center">
        <input min="1" class="form-control text-center" type="number" value="1" />
    </td>
    <td class="text-center align-middle">
        <button type="button" class="btn remove-product-variant-tr">
            <i class="bi bi-trash-fill text-danger"></i>
        </button>
    </td>
</tr>