@using ProEShop.ViewModels.Products;
@model (List<ProductVariantForProductInfoViewModel> productVariants, List<ProductVariantInCartForProductInfoViewModel> productVariantsInCart)
@{
    var groupedVariants = Model.productVariants.GroupBy(x => x.VariantValue);
    var variantCount = 1;
}
<!-- Other variants -->

<div class="container mt-3" id="other-sellers-box">
    <div class="row">
        <p class="fw-bold mb-2">فروشندگان این کالا</p>
        <span class="border border-danger ms-2" id="other-sellers-bottom-line"></span>
        <!-- Other sellers table -->
        @foreach (var variants in groupedVariants)
        {
            <div variant-value="@variants.First().VariantValue"
             class="table-responsive mt-4 other-sellers-table@(variantCount++ == 1 ? string.Empty : " d-none")">
                <table class="table table-bordered shadow-sm align-middle">
                    <thead class="bg-primary text-white">
                        <tr>
                            <th>فروشنده</th>
                            <th>گارانتی</th>
                            <th>قیمت</th>
                            <th>امتیاز</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var variant in variants)
                        {
                            <tr free-delivery="@(variant.Price >= 500000 ? "true" : "false")" is-discount-active="@(variant.IsDiscountActive ? "true" : "false")">
                                <td>
                                    @if (!string.IsNullOrWhiteSpace(variant.SellerLogo))
                                    {
                                        <img src="~/images/seller-logos/@variant.SellerLogo" width="50"
                                 alt="@variant.SellerShopName" />
                                    }
                                    else
                                    {
                                        <i class="bi bi-shop me-2 rem21px"></i>
                                    }
                                    @variant.SellerShopName
                                </td>
                                <td class="persian-numbers">@variant.GuaranteeFullTitle</td>
                                <td>
                                    <div class="@(variant.IsDiscountActive ? "d-none" : string.Empty)">
                                        <span class="persian-numbers">
                                            @variant.Price.ToString("0,#")
                                        </span>
                                        تومان
                                    </div>
                                    <div class="@(variant.IsDiscountActive ? string.Empty : "d-none")">
                                        <div class="d-flex align-items-center">
                                            <span class="rem14px text-decoration-line-through me-1 persian-numbers">
                                                @variant.Price.ToString("#,0")
                                            </span>
                                            <span class="badge rounded-pill bg-danger rem12px persian-numbers me-1">@variant.OffPercentage%</span>
                                            <span class="badge rounded-pill bg-primary rem12px count-down-timer-in-other-variants">
                                                @variant.EndDateTime
                                            </span>
                                        </div>
                                        <div class="rem18px mt-2">
                                            <span class="persian-numbers">
                                                @variant.FinalPrice.ToString("#,0")
                                            </span>
                                            تومان
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span class="persian-numbers">
                                        @variant.Score
                                    </span>
                                    امتیاز پروشاپ
                                    <i class="bi bi-info-circle" data-bs-toggle="tooltip" data-bs-placement="top"
                               title="بعد از پایان مهلت مرجوعی، برای دریافت امتیاز به صفحه ماموریت های پروشاپی سر بزنید."></i>
                                </td>
                                <td class="d-flex justify-content-center">
                                    @{
                                        var showButton = Model.productVariantsInCart.All(x => x.ProductVariantId != variant.Id);
                                    }
                                    <form method="post" functionNameToCallInTheEnd="addProductVariantToCart"
                                  asp-page-handler="AddProductVariantToCart" variant-id="@variant.Id"
                                  class="@(showButton ? string.Empty: "d-none ")add-product-variant-to-cart public-ajax-form">
                                        <input type="hidden" name="productVariantId" value="@variant.Id" />
                                        <button class="btn btn-danger rounded-3">
                                            افزودن به سبد
                                        </button>
                                    </form>
                                    @{
                                        var productVariantInCart = Model.productVariantsInCart.SingleOrDefault(x => x.ProductVariantId == variant.Id);
                                        var isCartFull = false;
                                        if (productVariantInCart != null)
                                        {
                                            isCartFull = productVariantInCart.Count == variant.MaxCountInCart;
                                        }
                                        var showButton2 = productVariantInCart != null;
                                    }
                                    <div class="@(showButton2 ? string.Empty : "d-none ")product-variant-in-cart-section d-flex align-items-center text-danger shadow rounded p-2"
                                 variant-id="@variant.Id">
                                        <span class="px-2 disable-selecting@(isCartFull ? " text-custom-grey" : " pointer-cursor")">
                                            <form method="post" functionNameToCallInTheEnd="addProductVariantToCart"
                                          class="public-ajax-form" asp-page-handler="AddProductVariantToCart">
                                                <input type="hidden" name="productVariantId" value="@variant.Id" />
                                                <input type="hidden" name="isIncrease" value="true" />
                                                <span class="rem20px increaseProductVariantInCartButton">+</span>
                                            </form>
                                        </span>
                                        <span class="d-flex flex-column justify-content-between align-items-center px-2 disable-selecting product-variant-count-in-cart">
                                            <span class="fw-bold persian-numbers">
                                                @(productVariantInCart?.Count ?? 0)
                                            </span>
                                            <span class="text-custom-grey rem13px@(isCartFull ? string.Empty : " d-none")">
                                                حداکثر
                                            </span>
                                        </span>
                                        <span class="px-2 disable-selecting pointer-cursor@((productVariantInCart?.Count == 1 ? string.Empty : " d-none") ?? " d-none")">
                                            <form method="post" functionNameToCallInTheEnd="addProductVariantToCart"
                                          class="public-ajax-form" asp-page-handler="AddProductVariantToCart">
                                                <input type="hidden" name="productVariantId" value="@variant.Id" />
                                                <span class="empty-variants-in-cart">
                                                    <i class="bi bi-trash"></i>
                                                </span>
                                            </form>
                                        </span>
                                        <span class="px-2 disable-selecting pointer-cursor@((productVariantInCart?.Count > 1 ? string.Empty : " d-none") ?? " d-none")">
                                            <form method="post" functionNameToCallInTheEnd="addProductVariantToCart"
                                          class="public-ajax-form" asp-page-handler="AddProductVariantToCart">
                                                <input type="hidden" name="productVariantId" value="@variant.Id" />
                                                <span class="rem20px decreaseProductVariantInCartButton">-</span>
                                            </form>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        <!-- End other sellers table -->
    </div>
</div>

<!-- End other variants -->