@page "/product/pc-{productCode}/{slug}"
@using ProEShop.Common.Helpers
@model ProEShop.Web.Pages.Product.IndexModel
@{
    var productInfo = Model.ProductInfo;
    var productVariants = Model.ProductInfo.ProductVariants
        .OrderBy(x => x.FinalPrice)
        .ToList();
    var groupedVariants = productVariants
        .GroupBy(x => x.VariantValue);
    var firstProductVariant = productVariants.First();
    var productFeatures = Model.ProductInfo.ProductFeatures
        .Where(x => x.FeatureShowNextToProduct).ToList();
    var isVariantColor = !string.IsNullOrWhiteSpace(Model.ProductInfo.ProductVariants.First().VariantColorCode);
    var showScore = Model.ProductInfo.Score > 0;
    var showCommentsCount = Model.ProductInfo.ProductCommentsCount > 0;
    var showQuestionCount = Model.ProductInfo.ProductQuestionsCount > 0;
    var showQuestionsCount = false;
    var productTitle = Model.ProductInfo.PersianTitle;
    var productCategory = Model.ProductInfo.CategoryTitle;
    var productBrand = Model.ProductInfo.BrandTitleFa;
    var firstProductPicture = Model.ProductInfo.ProductMedia
        .First(x => !x.IsVideo).FileName;
    ViewData["Title"] = $"مشخصات، قیمت و خرید {productTitle}";
    ViewData["HeaderDescription"] =
        $"خرید اینترنتی {productTitle} و قیمت انواع {productCategory} {productBrand} از فروشگاه آنلاین پروشاپ. جدیدترین مدل های {productCategory} {productBrand} با بهترین قیمت در پروشاپ";
}
<!-- Start breadcrumb -->

<div class="container-fluid mt-3">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-page="../Index">فروشگاه پروشاپ</a>
            </li>
            @{
                var productCategoriesCount = Model.ProductInfo.ProductCategories.Count;
                var lastCategory = Model.ProductInfo.ProductCategories.Last();
            }
            @foreach (var category in Model.ProductInfo.ProductCategories.Take(productCategoriesCount - 1))
            {
                <li class="breadcrumb-item">
                    <a asp-page="@category.CategorySlug">
                        @category.CategoryTitle
                    </a>
                </li>
            }
            <li class="breadcrumb-item active">
                @lastCategory.CategoryTitle
            </li>
        </ol>
    </nav>
</div>

<!-- End breadcrumb -->
<!-- Start show product info -->

<div class="container-fluid bg-white pb-3" id="show-product-box">
    <div class="row mt-3">
        <div class="col-lg-4">
            <div class="row">
                <div class="col-2" id="buttons-next-to-gallery-box">
                    <ul class="list-inline">
                        <li>
                            @{
                                var isFavorite = productInfo.IsFavorite;
                            }
                            <form id="add-product-to-favorite-form"
                                  asp-page-handler="AddOrRemoveFavorite"
                                  functionNameToCallInTheEnd="addFavoriteFunction"
                                  method="post" class="public-ajax-form">
                                <input type="hidden" name="productId" value="@productInfo.Id" />
                                <input type="hidden" name="addFavorite" value="@(isFavorite ? "false" : "true")" />
                                <button id="addFavoriteButton" class="btn" data-bs-toggle="tooltip" data-bs-placement="left"
                                        title="افزودن به علاقه مندی ها">
                                    <i class="bi bi-heart@(isFavorite ? " d-none" : string.Empty)"></i>
                                    <i class="bi bi-heart-fill text-danger@(isFavorite ? string.Empty : " d-none")"></i>
                                </button>
                            </form>
                        </li>
                        <li>
                            <button id="share-product-button"
                                    type="button" class="btn" data-bs-toggle="tooltip" data-bs-placement="left"
                                    title="اشتراک گذاری">
                                <i class="bi bi-share-fill"></i>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="btn" data-bs-toggle="tooltip" data-bs-placement="left"
                                    title="اطلاع رسانی شگفت انگیز">
                                <i class="bi bi-bell"></i>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="btn" data-bs-toggle="tooltip" data-bs-placement="left" title="نمودار قیمت">
                                <i class="bi bi-graph-up"></i>
                            </button>
                        </li>
                        <li>
                            <a href="/compare/pc-@productInfo.ProductCode" class="btn" data-bs-toggle="tooltip" data-bs-placement="left" title="مقایسه">
                                <i class="bi bi-square-half"></i>
                            </a>
                        </li>
                        <li>
                            <button type="button" class="btn" data-bs-toggle="tooltip" data-bs-placement="left"
                                    title="اضافه به لیست">
                                <i class="bi bi-list-ul"></i>
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="col-10">
                    <div class="border-bottom text-center" id="zoom-image-place">
                        <img src="~/images/products/@firstProductPicture" class="img-fluid pb-2 border-bottom"
                             alt="@productTitle">
                    </div>
                </div>
                <div class="text-center mt-3" id="product-thumbnails-box">
                    <ul class="list-inline">
                        @foreach (var media in Model.ProductInfo.ProductMedia.Where(x => !x.IsVideo))
                        {
                            <li class="list-inline-item rounded-3">
                                <button class="btn p-0 w-100 h-100">
                                    <img src="~/images/products/@media.FileName" class="w-100 h-100 p-1"
                                     alt="@productTitle">
                                </button>
                            </li>
                        }
                        @if (Model.ProductInfo.ProductMedia.Count(x => !x.IsVideo) > 4
                        || Model.ProductInfo.ProductMedia.Count(x => x.IsVideo) > 0)
                        {
                            <li class="list-inline-item rounded-3">
                                <button class="btn p-0 w-100 h-100">
                                    <i class="bi bi-three-dots"></i>
                                </button>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="d-flex">
                    @if (!string.IsNullOrWhiteSpace(@Model.ProductInfo.BrandLogoPicture))
                    {
                        <div>
                            <img src="~/images/brands/@Model.ProductInfo.BrandLogoPicture"
                             width="70" class="me-3" alt="@Model.ProductInfo.BrandTitleFa">
                        </div>
                    }
                    <div class="d-flex flex-column justify-content-between">
                        <div>
                            <a href="#">
                                @Model.ProductInfo.BrandTitleFa
                            </a>
                            /
                            <a href="#">
                                @Model.ProductInfo.CategoryTitle
                                @Model.ProductInfo.BrandTitleFa
                            </a>
                        </div>
                        <h5 id="product-fa-title-in-show-product-info">
                            @productTitle
                        </h5>
                    </div>
                </div>
            </div>
            <div class="row mt-2 mt-sm-3 mt-md-4">
                <div class="col-md-8">
                    <div class="d-flex align-items-center text-muted">
                        @if (!string.IsNullOrWhiteSpace(Model.ProductInfo.EnglishTitle))
                        {
                            <small class="me-2 text-custom-grey">
                                @Model.ProductInfo.EnglishTitle
                            </small>
                        }
                        <div id="product-en-title-line" class="flex-grow-1 bg-custom-grey"></div>
                    </div>
                    <div class="border-bottom pb-3 mt-2 d-flex@(!showScore && !showCommentsCount && !showQuestionsCount ? " d-none" : string.Empty)">
                        @if (showScore)
                        {
                            <!-- Stars -->

                            <div class="d-flex align-items-center me-2">
                                <span>
                                    <i class="bi bi-star-fill text-warning"></i>
                                    <span class="rem13px persian-numbers">
                                        @Model.ProductInfo.Score.ToString("0.#")
                                    </span>
                                    <span class="text-custom-grey rem12px persian-numbers">
                                        (
                                        @Model.ProductInfo.ProductCommentsLongCount
                                        نفر
                                        )
                                    </span>
                                </span>
                            </div>

                            <!-- End stars -->
                        }
                        @if (showCommentsCount)
                        {
                            <!-- Comments -->

                            <div class="d-flex align-items-center me-2">
                                <div class="bg-custom-grey mx-2 rounded-circle product-info-dots"></div>
                                <span class="rem13px text-info persian-numbers">
                                    @Model.ProductInfo.ProductCommentsCount
                                    دیدگاه
                                </span>
                            </div>

                            <!-- End comments -->
                        }
                        @if (showQuestionsCount)
                        {
                            <!-- Questions -->

                            <div class="d-flex align-items-center">
                                <div class="bg-custom-grey mx-2 rounded-circle product-info-dots"></div>
                                <span class="rem13px text-info persian-numbers">
                                    ۴۶۷۶
                                    پرسش
                                </span>
                            </div>

                            <!-- End questions -->
                        }
                    </div>
                    @if (showScore && Model.ProductInfo.SuggestPercentage > 70
                    //&& Model.ProductInfo.SuggestCount > 10
                    )
                    {
                        <div class="row mt-2 mt-md-3">
                            <span class="d-flex align-items-center">
                                <i class="bi bi-hand-thumbs-up text-success me-1 rem16px"></i>
                                <span class="rem13px persian-numbers">
                                    @(Model.ProductInfo.SuggestPercentage.ToString("0"))%
                                    (@Model.ProductInfo.SuggestCount)
                                    نفر از خریداران، این کالا را پیشنهاد کرده اند
                                </span>
                                <i class="bi bi-info-circle ms-2" data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="خریداران کالا با انتخاب یکی از گزینه های پیشنهاد یا عدم پیشنهاد، تجربه خرید خود را با کاربران به اشتراک می گذارند."></i>
                            </span>
                        </div>
                    }
                    @if (!productInfo.IsVariantTypeNull)
                    {
                        <div class="mt-3">
                            <div class="fw-bold rem17px">
                                @if (isVariantColor)
                                {
                                    @:رنگ:
                                }
                                else
                                {
                                    <text>اندازه:</text>
                                }
                                <span id="product-variant-value">
                                    @firstProductVariant.VariantValue
                                </span>
                            </div>
                            <div class="d-flex mt-3" id="product-variants-box-in-show-product-info">
                                @if (isVariantColor)
                                {
                                    @foreach (var variant in groupedVariants)
                                    {
                                        var currentVariant = variant.First();
                                        <div data-bs-toggle="tooltip" data-bs-placement="bottom" product-variant-id="@currentVariant.Id"
                                 title="@currentVariant.VariantValue"
                                 class="pointer-cursor rounded-circle d-flex justify-content-center align-items-center">
                                            <span class="rounded-circle d-flex justify-content-center align-items-center" style="background-color: @currentVariant.VariantColorCode">
                                                <i class="bi bi-check2 rem21px text-white d-none"></i>
                                            </span>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <select class="form-select w-auto">
                                        @foreach (var variant in groupedVariants)
                                        {
                                            var currentVariant = variant.First();
                                            <option product-variant-id="@currentVariant.Id" value="@currentVariant.VariantValue">
                                                @currentVariant.VariantValue
                                            </option>
                                        }
                                    </select>
                                }
                            </div>
                        </div>
                    }
                    @if (productFeatures.Count > 0)
                    {
                        <div class="mt-4" id="features-next-to-product-box">
                            <div class="fw-bold rem17px">
                                ویژگی ها
                            </div>
                            <ul class="mt-3 p-0 rem13px">
                                @{
                                    var counter = 0;
                                }
                                @foreach (var feature in productFeatures)
                                {
                                    <li class="d-flex align-items-center my-2@(counter > 1 ? " d-none" : string.Empty)">
                                        <div class="bg-custom-grey mx-2 rounded-circle product-info-dots">
                                        </div>
                                        <div class="text-secondary">
                                            @feature.FeatureTitle
                                            :
                                            &nbsp;
                                        </div>
                                        <div class="fw-bold rem16px">
                                            @{
                                                var splitFeatureValue = feature.Value.Split("|||");
                                            }
                                            @string.Join("، ", splitFeatureValue)
                                        </div>
                                    </li>
                                    counter++;
                                }
                            </ul>
                            @if (productFeatures.Count() > 2)
                            {
                                <div class="text-info rem13px pointer-cursor" id="show-all-product-features">
                                    مشاهده بیشتر
                                    <i class="bi bi-chevron-left"></i>
                                </div>
                            }
                        </div>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.ProductInfo.CategoryProductPageGuide))
                    {
                        <div class="d-flex rem13px border-top mt-3 text-secondary">
                            <div class="d-flex align-items-center me-3">
                                <i class="bi bi-info-circle"></i>
                            </div>
                            <div class="pt-2" id="category-guide">
                                @Model.ProductInfo.CategoryProductPageGuide
                            </div>
                        </div>
                    }
                    @{
                        var showFreeDeliveryBox = firstProductVariant.Price < 500000 ? " d-none" : string.Empty;
                    }
                    <div id="free-delivery-box" class="d-flex border rounded-3 mt-4 justify-content-between p-3@(showFreeDeliveryBox)">
                        <div class="d-flex flex-column justify-content-between">
                            <span class="fw-bold">ارسال رایگان</span>
                            <span class="rem13px text-secondary">
                                برای سفارش‌ بالای
                                ۵۰۰
                                هزار تومان
                            </span>
                        </div>
                        <img width="100" src="~/images/application/free-delivery.png" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="border rounded-2 p-3" id="product-info-left-side-box">
                        <!-- 1 -->

                        <div class="d-flex justify-content-between align-items-center">
                            <div class="fw-bold">فروشنده</div>
                            <div class="text-info rem13px pointer-cursor" id="other-sellers-count-box">
                                <span class="persian-numbers">
                                    @(productVariants.Count(x => x.VariantValue == firstProductVariant.VariantValue) - 1)
                                </span>
                                فروشنده دیگر
                            </div>
                        </div>

                        <!-- End 1 -->
                        <!-- 2 -->

                        <div class="d-flex align-items-center mt-3" id="shop-details-in-single-page-of-product">
                            @{
                                var hasSellerLogo = !string.IsNullOrWhiteSpace(firstProductVariant.SellerLogo);
                                var sellerLogoUrl = "/images/application/eshop.png";
                                if (hasSellerLogo)
                                {
                                    sellerLogoUrl = $"/images/seller-logos/{firstProductVariant.SellerLogo}";
                                }
                            }
                            <img class="me-3@(hasSellerLogo ? string.Empty : " d-none")" width="50"
                                 src="@sellerLogoUrl"
                                 alt="@firstProductVariant.SellerShopName" />
                            <i class="bi bi-shop me-2 rem21px@(hasSellerLogo ? " d-none" : string.Empty)"></i>
                            <div>
                                @firstProductVariant.SellerShopName
                            </div>
                        </div>

                        <!-- End 2 -->

                        <hr class="bg-secondary" />

                        <!-- 3 -->

                        <div class="d-flex align-items-center mt-3">
                            <i class="bi bi-shield-check me-2 rem21px"></i>
                            <div class="rem14px persian-numbers" id="product-guarantee-in-single-page-of-product">
                                @firstProductVariant.GuaranteeFullTitle.ToShowGuaranteeFullTitle()
                            </div>
                        </div>

                        <!-- End 3 -->

                        <hr class="bg-secondary" />

                        <!-- 4 -->

                        <div class="d-flex align-items-center mt-3">
                            <i class="bi bi-trophy me-2 rem21px"></i>
                            <div class="rem14px" id="product-score-in-single-page-of-product">
                                <span class="persian-numbers">
                                    @firstProductVariant.Score
                                </span>
                                امتیاز پروشاپ
                                <i class="bi bi-info-circle" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                   title="بعد از پایان مهلت مرجوعی، برای دریافت امتیاز به صفحه ماموریت های پروشاپی سر بزنید."></i>
                            </div>
                        </div>

                        <!-- End 4 -->

                        <hr class="bg-secondary" />

                        <!-- 5 -->
                        <div class="d-flex justify-content-between align-items-center mt-3">
                            <div>
                                <i class="bi bi-info-circle ms-2" data-bs-toggle="tooltip" data-bs-placement="bottom" id="product-shop-name-tooltip"
                                   title="این کالا توسط فروشنده آن، @firstProductVariant.SellerShopName، قیمت گذاری شده است."></i>
                            </div>
                            @foreach (var variants in groupedVariants)
                            {
                                var currentVariant = variants.First();
                                <div variant-value="@currentVariant.VariantValue" class="d-flex flex-column align-items-center product-final-price-in-single-page-of-product@(firstProductVariant.VariantValue == currentVariant.VariantValue ? (currentVariant.IsDiscountActive ? string.Empty : " d-none") : " d-none")">
                                    <div>
                                        <span class="text-decoration-line-through text-custom-grey rem14px me-2 persian-numbers">
                                            @currentVariant.Price.ToString("0,#")
                                        </span>
                                        <span class="badge rounded-pill bg-danger persian-numbers">@currentVariant.OffPercentage%</span>
                                    </div>
                                    <span class="rem21px mt-2 persian-numbers">
                                        @currentVariant.FinalPrice.ToString("0,#")
                                        تومان
                                    </span>
                                </div>
                                <span variant-value="@currentVariant.VariantValue" class="rem21px product-price-in-single-page-of-product@(firstProductVariant.VariantValue == currentVariant.VariantValue ? (currentVariant.IsDiscountActive ? " d-none" : string.Empty) : " d-none")">
                                    <span class="persian-numbers">
                                        @currentVariant.Price.ToString("0,#")
                                    </span>
                                    تومان
                                </span>
                            }
                        </div>

                        <!-- End 5 -->
                        <!-- 6 -->
                        @foreach (var variants in groupedVariants)
                        {
                            var currentVariant = variants.First();
                            if (currentVariant.Count == 0)
                                continue;
                            <div variant-value="@currentVariant.VariantValue" class="latest-product-stock-in-inventory text-danger mt-3 fw-bold rem13px@(firstProductVariant.VariantValue == currentVariant.VariantValue ? string.Empty : " d-none")">
                                تنها
                                <span class="persian-numbers">
                                    @currentVariant.Count
                                </span>
                                عدد در انبار پروشاپ باقی مانده
                            </div>
                        }

                        <!-- End 6 -->
                        <!-- 7 -->
                        @foreach (var variants in groupedVariants)
                        {
                            var currentVariant = variants.First();
                            if (currentVariant.IsDiscountActive)
                            {
                                <div variant-value="@currentVariant.VariantValue" class="discount-count-down-box d-flex flex-column align-items-center mt-3 text-danger fw-bold@(firstProductVariant.VariantValue == currentVariant.VariantValue ? string.Empty : " d-none")">
                                    <div>
                                        پیشنهاد شگفت انگیز
                                    </div>
                                    <div class="text-center count-down-timer">
                                        @currentVariant.EndDateTime
                                    </div>
                                </div>
                            }
                        }

                        <!-- End 7 -->
                        <!-- 8 -->
                        @foreach (var variants in groupedVariants)
                        {
                            // all product variants ids = 1, 2, 3
                            // cart = 1, 2
                            // first time = 1
                            // برای مثال بار اول تنوعی با آیدی 1 خونده میشه
                            // حالا باید بررسی کنیم که اگر در داخل کل رکورد های سبد خرید همچین تنوعی وجود نداشت
                            // میتوانیم دکمه افزودن به سبد خرید رو نشون بدیم
                            var currentVariant = variants.First();
                            var showButton = productInfo.ProductVariantsInCart.All(x => x.ProductVariantId != currentVariant.Id);
                            <form method="post" functionNameToCallInTheEnd="addProductVariantToCart"
                              asp-page-handler="AddProductVariantToCart" variant-id="@currentVariant.Id"
                              class="@(showButton ? string.Empty: "d-none ")add-product-variant-to-cart public-ajax-form@(firstProductVariant.VariantValue == currentVariant.VariantValue ? string.Empty : " d-none")">
                                <input type="hidden" name="productVariantId" value="@currentVariant.Id" />
                                <div class="d-grid mt-3">
                                    <button class="btn btn-danger rounded-3">
                                        افزودن به سبد خرید
                                    </button>
                                </div>
                            </form>
                        }
                        <!-- End 8 -->
                        <!-- 9 -->
                        @foreach (var variants in groupedVariants)
                        {
                            // all product variants ids = 1, 2, 3
                            // cart = 1, 2
                            // first time = 1
                            // برای مثال بار اول رکورد یک خونده میشه
                            // همین یک رو داخل رکورد های سبد خرید جستجو میکنیم
                            // و اگه وجود داشته باشه
                            // باید بخش سب خرید رو نشون بدیم
                            // در ضمن اگه رکوردی برای این تنوع وجود نداشته باشه متغیر
                            // productVariantInCart
                            // نال میشه، پس برای نشون دادن
                            // Count
                            // از کد پایین استفاده کردم که اگه این تنوع در داخل سبد خرید نبود، اکسپشن ایجاد نشه
                            // @(productVariantInCart?.Count ?? 0)
                            var currentVariant = variants.First();
                            var productVariantInCart = productInfo.ProductVariantsInCart.SingleOrDefault(x => x.ProductVariantId == currentVariant.Id);
                            var isCartFull = false;
                            if (productVariantInCart != null)
                            {
                                isCartFull = productVariantInCart.Count == currentVariant.MaxCountInCart
                                ||
                                productVariantInCart.Count == currentVariant.Count;
                            }
                            var showButton = productVariantInCart != null;
                            <div class="@(showButton ? string.Empty : "d-none ")d-flex mt-3 product-variant-in-cart-section@(firstProductVariant.VariantValue == currentVariant.VariantValue ? string.Empty : " d-none")" variant-id="@currentVariant.Id">
                                <div class="d-flex align-items-center text-danger shadow rounded p-2">
                                    <span class="px-2 disable-selecting@(isCartFull ? " text-custom-grey" : " pointer-cursor")">
                                        <form method="post" functionNameToCallInTheEnd="addProductVariantToCart"
                                          class="public-ajax-form" asp-page-handler="AddProductVariantToCart">
                                            <input type="hidden" name="productVariantId" value="@currentVariant.Id" />
                                            <input type="hidden" name="isIncrease" value="true" />
                                            <span class="rem20px increaseProductVariantInCartButton">+</span>
                                        </form>
                                    </span>
                                    <span class="d-flex flex-column justify-content-between align-items-center px-2 disable-selecting product-variant-count-in-cart">
                                        <span class="fw-bold persian-numbers">
                                            @(productVariantInCart?.Count ?? 0)
                                        </span>
                                        <span class="text-custom-grey rem13px@(isCartFull ? string.Empty : " d-none")">
                                            حداکثر
                                        </span>
                                    </span>
                                    <span class="px-2 disable-selecting pointer-cursor@((productVariantInCart?.Count == 1 ? string.Empty : " d-none") ?? " d-none")">
                                        <form method="post" functionNameToCallInTheEnd="addProductVariantToCart"
                                          class="public-ajax-form" asp-page-handler="AddProductVariantToCart">
                                            <input type="hidden" name="productVariantId" value="@currentVariant.Id" />
                                            <span class="empty-variants-in-cart">
                                                <i class="bi bi-trash"></i>
                                            </span>
                                        </form>
                                    </span>
                                    <span class="px-2 disable-selecting pointer-cursor@((productVariantInCart?.Count > 1 ? string.Empty : " d-none") ?? " d-none")">
                                        <form method="post" functionNameToCallInTheEnd="addProductVariantToCart"
                                          class="public-ajax-form" asp-page-handler="AddProductVariantToCart">
                                            <input type="hidden" name="productVariantId" value="@currentVariant.Id" />
                                            <span class="rem20px decreaseProductVariantInCartButton">-</span>
                                        </form>
                                    </span>
                                </div>
                                <div class="ms-3 rem13px d-flex justify-content-between flex-column">
                                    <div>در سبد شما</div>
                                    <div>
                                        مشاهده
                                        <a href="#">سبد خرید</a>
                                    </div>
                                </div>
                            </div>
                        }
                        <!-- End 9 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End show product info -->
<!-- Website features -->

<div class="container mt-3 bg-white py-2 shadow-sm rem14px" id="webstie-features">
    <div class="row">
        <div class="col p-md-3 text-center">
            <a href="#" class="text-secondary">
                <i class="bi bi-box-seam"></i>
                امکان تحویل اکسپرس
            </a>
        </div>
        <div class="col p-md-3 text-center">
            <a href="#" class="text-secondary">
                <i class="bi bi-headset"></i>
                ۲۴ ساعته،
                ۷ روز هفته
            </a>
        </div>
        <div class="col p-md-3 text-center">
            <a href="#" class="text-secondary">
                <i class="bi bi-credit-card-fill"></i>
                امکان پرداخت در محل
            </a>
        </div>
        <div class="col p-md-3 text-center">
            <a href="#" class="text-secondary">
                <i class="bi bi-box-seam-fill"></i>
                هفت روز ضمانت بازگشت کالا
            </a>
        </div>
        <div class="col p-md-3 text-center">
            <a href="#" class="text-secondary">
                <i class="bi bi-patch-check"></i>
                ضمانت اصل بودن کالا
            </a>
        </div>
    </div>
</div>

<!-- End website features -->
<!-- Other variants -->

<partial name="_OtherVariantsPartail" model="(productVariants, productInfo.ProductVariantsInCart)" />

<div class="container-fluid bg-white sticky-top">
    <div class="mt-4 d-none d-sm-flex justify-content-sm-between justify-content-lg-start rem14px text-secondary border-bottom"
         id="product-options-box-in-single-page-of-product">
        @if (productInfo.ShortDescription != null)
        {
            <div class="mx-3 pointer-cursor p-2 position-relative" id="product-introduction-title-el-in-single-page-of-product">
                معرفی
                <div class="bg-danger position-absolute start-0 bottom-0 rounded-top d-none"></div>
            </div>
        }
        @if (productInfo.SpecialtyCheck != null)
        {
            <div class="mx-3 pointer-cursor p-2 position-relative" id="specialty-check-title-el-in-single-page-of-product">
                بررسی تخصصی
                <div class="bg-danger position-absolute start-0 bottom-0 rounded-top d-none"></div>
            </div>
        }
        @if (productInfo.ProductFeatures.Count > 0)
        {
            <div class="mx-3 pointer-cursor p-2 position-relative" id="product-features-title-el-in-single-page-of-product">
                مشخصات
                <div class="bg-danger position-absolute start-0 bottom-0 rounded-top d-none"></div>
            </div>
        }
        <div class="mx-3 pointer-cursor p-2 position-relative" id="comments-title-el-in-single-page-of-product">
            دیدگاه ها
            <div class="bg-danger position-absolute start-0 bottom-0 rounded-top d-none"></div>
        </div>
        <div class="mx-3 pointer-cursor p-2 position-relative" id="questions-title-el-in-single-page-of-product">
            پرسش ها
            <div class="bg-danger position-absolute start-0 bottom-0 rounded-top d-none"></div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-9 mt-4">
            @if (productInfo.ShortDescription != null)
            {
                <div id="product-introduction-el-in-single-page-of-product">
                    <span class="fw-bold rem18px border-bottom border-2 border-danger pe-3 pb-2">معرفی</span>
                </div>
                <div class="mt-4 rem14px" id="product-introduction-in-single-page-of-product">
                    @Html.Raw(productInfo.ShortDescription)
                </div>
                <div class="mt-2 text-info">
                    <span class="rem14px pointer-cursor">
                        بستن
                        <i class="bi bi-chevron-left rem11px"></i>
                    </span>
                </div>
                <div class="break-line-in-single-page-of-product bg-custom-grey my-4"></div>
            }
            @if (productInfo.SpecialtyCheck != null)
            {
                <div id="specialty-check-el-in-single-page-of-product">
                    <span class="fw-bold rem18px border-bottom border-2 border-danger pe-3 pb-2">بررسی تخصصی</span>
                </div>
                <div class="mt-4" id="product-specialty-check-in-single-page-of-product">
                    @Html.Raw(productInfo.SpecialtyCheck)
                </div>
                <div class="mt-2 text-info">
                    <span class="rem14px pointer-cursor">
                        بستن
                        <i class="bi bi-chevron-left rem11px"></i>
                    </span>
                </div>
                <div class="break-line-in-single-page-of-product bg-custom-grey my-4"></div>
            }
            @if (productInfo.ProductFeatures.Count > 0)
            {
                // جزییات محصول اگه از اِن مورد بیشتر باشند
                var counter = 1;
                <div id="product-features-el-in-single-page-of-product">
                    <span class="fw-bold rem18px border-bottom border-2 border-danger pe-3 pb-2">مشخصات</span>
                </div>

                <div class="mt-4 rem15px" id="product-details-in-single-page-of-product">
                    @foreach (var feature in productInfo.ProductFeatures)
                    {
                        <div class="d-flex@(counter++ > 3 ? " d-none" : string.Empty)">
                            <div class="py-3 text-secondary mx-md-5 me-5">@feature.FeatureTitle</div>
                            <div class="py-3 flex-grow-1 border-bottom persian-numbers">
                                @{
                                    var splitValue = feature.Value.Split("|||");
                                    if (splitValue.Length > 1)
                                    {
                                        foreach (var featureValue in splitValue)
                                        {
                                            <span class="badge bg-primary">@featureValue</span>
                                        }
                                    }
                                    else
                                    {
                                        @feature.Value
                                    }
                                }
                            </div>
                        </div>
                    }
                    @if (productInfo.ProductFeatures.Count > 3)
                    {
                        <div class="mt-3 text-info">
                            <span class="rem14px pointer-cursor">
                                <span>مشاهده بیشتر</span>
                                <i class="bi bi-chevron-left rem11px"></i>
                            </span>
                        </div>
                    }
                </div>
                <div class="break-line-in-single-page-of-product bg-custom-grey my-4"></div>
            }
            <div id="comments-el-in-single-page-of-product">
                <span class="fw-bold rem18px border-bottom border-2 border-danger pe-3 pb-2">امتیاز و دیدگاه کاربران</span>
            </div>

            <div class="row mt-4">
                <div class="col-lg-3"></div>
                <div class="col-lg-9">
                    <div class="border-bottom pb-3">
                        <div class="rem13px fw-bold">
                            <i class="bi bi-hand-thumbs-up text-success rem17px"></i>
                            <span class="persian-numbers">۸۷</span>%
                            (<span class="persian-numbers">۲۳۰</span> نفر)
                            درصد از خریداران، این کالا را پیشنهاد کرده اند
                            <i class="bi bi-info-circle rem16px" data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="خریداران کالا با انتخاب یکی از گزینه های پیشنهاد یا عدم پیشنهاد، تجربه خرید خود را با کاربران به اشتراک می گذارند."></i>
                        </div>
                        <div class="d-flex d-sm-block justify-content-center mt-3">
                            <img src="~/images/products/00e2b2c15d974d268ea4e1fc5c0baf75.jpg" class="rounded-3 me-4" width="60" />
                            <img src="~/images/products/00e2b2c15d974d268ea4e1fc5c0baf75.jpg" class="rounded-3 me-4" width="60" />
                            <img src="~/images/products/00e2b2c15d974d268ea4e1fc5c0baf75.jpg" class="rounded-3 me-4" width="60" />
                            <img src="~/images/products/00e2b2c15d974d268ea4e1fc5c0baf75.jpg" class="rounded-3 me-4" width="60" />
                            <img src="~/images/products/00e2b2c15d974d268ea4e1fc5c0baf75.jpg" class="rounded-3 me-4" width="60" />
                        </div>
                        <div class="mt-3 rem13px text-info pointer-cursor">
                            مشاهده همه
                            <i class="bi bi-chevron-left"></i>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mt-3">
                        <div class="rem13px d-flex">
                            <i class="bi bi-sort-down rem21px me-2"></i>
                            <div class="me-2">مرتب سازی:</div>
                            <div class="text-danger me-2 pointer-cursor">جدیدترین</div>
                            <div class="text-secondary me-2 pointer-cursor">دیدگاه خریداران</div>
                            <div class="text-secondary me-2 pointer-cursor">مفیدترین</div>
                        </div>
                        <div class="rem13px text-secondary">
                            <span class="persian-numbers">@productInfo.ProductCommentsCount</span>
                            دیدگاه
                        </div>
                    </div>
                    <div class="mt-4">
                        @foreach (var comment in productInfo.ProductComments)
                        {
                            <div class="border-bottom pb-3 mt-2">
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <div class="bg-success persian-numbers text-white rem14px px-2 rounded-3">@comment.Score.0</div>
                                        <div class="fw-bold ms-2">@comment.CommentTitle</div>
                                    </div>
                                    <div class="dropdown">
                                        <i class="bi bi-three-dots-vertical pointer-cursor text-black-50 rem19px" data-bs-toggle="dropdown"></i>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <form asp-page-handler="AddCommentReport"
                                              method="post" class="public-ajax-form" functionNameToCallInTheEnd="commentReportFunction">
                                                <input type="hidden" name="commentId" value="@comment.Id" />
                                                <button type="submit" class="dropdown-item pointer-cursor">
                                                    <i class="bi bi-flag text-danger"></i>
                                                    گزارش این دیدگاه
                                                </button>
                                            </form>
                                        </ul>
                                    </div>
                                </div>
                                <div class="mt-4 px-5">
                                    <div class="d-flex align-items-center text-black-50 rem13px pb-3 border-bottom mb-3">
                                        <div>@comment.CreatedDateTime</div>
                                        <div class="mx-3 product-info-dots bg-custom-grey rounded-circle"></div>
                                        <div>@(string.IsNullOrWhiteSpace(comment.Name) ? "کاربر سایت" : comment.Name)</div>
                                        @if (comment.IsBuyer)
                                        {
                                            <div class="ms-2 px-2 buyer-backgournd-color-in-single-page-of-product text-dark">خریدار</div>
                                        }
                                        else if (comment.IsShop)
                                        {
                                            <div class="ms-2 px-2 buyer-backgournd-color-in-single-page-of-product text-dark">فروشگاه</div>
                                        }
                                    </div>
                                    <div class="rem14px text-success">
                                        <i class="bi bi-hand-thumbs-up rem17px me-1"></i>
                                        پیشنهاد میکنم
                                    </div>
                                    <div class="my-3 rem15px border-bottom pb-3">
                                        @Html.Raw(comment.CommentText)
                                    </div>
                                    <div class="d-flex align-items-center rem14px">
                                        <i class="bi bi-shop rem18px me-2"></i>
                                        <div>@comment.SellerShopNameShopName</div>
                                        @if (comment.VariantValue != null)
                                        {
                                            <div class="product-info-dots bg-custom-grey rounded-circle mx-3"></div>
                                            @if (comment.VariantIsColor == true)
                                            {
                                                <div class="comment-variant-color-in-single-page-of-product rounded-circle me-2" style="background-color: @comment.VariantColorCode"></div>
                                                @comment.VariantValue
                                            }
                                            @if (comment.VariantIsColor == false)
                                            {
                                                <i class="bi bi-sort-numeric-up me-2"></i>
                                                <span>@comment.VariantValue</span>
                                            }
                                        }
                                    </div>
                                    <div class="d-flex justify-content-end text-black-50 rem14px align-items-center">
                                        <div class="me-5">آیا این دیدگاه مفید بود ؟</div>
                                        <div class="me-3 pointer-cursor">
                                            <span class="persian-numbers">@comment.Like</span>
                                            <i class="bi bi-hand-thumbs-up rem19px"></i>
                                        </div>
                                        <div class="pointer-cursor">
                                            <span class="persian-numbers">@comment.Dislike</span>
                                            <i class="bi bi-hand-thumbs-down rem19px"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="break-line-in-single-page-of-product bg-custom-grey my-4"></div>

            <div id="questions-el-in-single-page-of-product">
                <span class="fw-bold rem18px border-bottom border-2 border-danger pe-3 pb-2">پرسش و پاسخ</span>
            </div>

            <div class="row mt-4">
                <div class="col-lg-3"></div>
                <div class="col-lg-9">
                    <div class="d-flex justify-content-between mt-3">
                        <div class="rem13px d-flex">
                            <i class="bi bi-sort-down rem21px me-2"></i>
                            <div class="me-2">مرتب سازی:</div>
                            <div class="text-danger me-2 pointer-cursor">جدیدترین</div>
                            <div class="text-secondary me-2 pointer-cursor">مفیدترین</div>
                        </div>
                        <div class="rem13px text-secondary">
                            <span class="persian-numbers">@productInfo.ProductQuestionsCount</span>
                            پرسش
                        </div>
                    </div>
                    <div class="mt-4">
                        @foreach (var question in productInfo.ProductsQuestionsAndAnswers)
                        {
                            <div class="border-bottom pb-3 question-box-in-single-page-product">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <i class="bi bi-question-square rem21px text-info"></i>
                                    </div>
                                    <div class="ms-3">
                                        @question.Body
                                    </div>
                                </div>
                                @foreach (var answer in question.Answers.Select((value, index) => new { index, value}))
                                {
                                    <div class="d-flex mt-3 text-secondary">
                                        <div class="rem13px">
                                            پاسخ
                                        </div>
                                        <div class="ms-3 rem14px flex-grow-1">
                                            <div>
                                                @answer.value.Body
                                            </div>
                                            <div class="mt-4 d-flex justify-content-between align-items-center border-bottom pb-2">
                                                <div class="d-flex rem13px">
                                                    <div>@(string.IsNullOrWhiteSpace(answer.value.Name) ? "کاربر سایت" : answer.value.Name)</div>
                                                    @if (answer.value.IsBuyer)
                                                    {
                                                        <div class="ms-2 px-2 buyer-backgournd-color-in-single-page-of-product text-dark">خریدار</div>
                                                    }
                                                    else if (answer.value.IsShop)
                                                    {
                                                        <div class="ms-2 px-2 buyer-backgournd-color-in-single-page-of-product text-dark">فروشگاه</div>
                                                    }
                                                </div>
                                                <div class="d-flex text-black-50 rem14px align-items-center">
                                                    <div class="me-3 me-md-5">آیا این پاسخ مفید بود ؟</div>
                                                    <div class="me-3 pointer-cursor">
                                                        <span class="persian-numbers">@answer.value.Like</span>
                                                        <i class="bi bi-hand-thumbs-up rem19px"></i>
                                                    </div>
                                                    <div class="pointer-cursor">
                                                        <span class="persian-numbers">@answer.value.Dislike</span>
                                                        <i class="bi bi-hand-thumbs-down rem19px"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            @if (question.Answers.Count > 1 && answer.index == 0)
                                            {
                                                <div class="d-flex mt-3">
                                                    <div class="text-info rem14px pointer-cursor">
                                                        مشاهده پاسخ های دیگر
                                                        <i class="bi bi-chevron-down"></i>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                                <div class="text-info rem14px mt-3 pointer-cursor">
                                    ثبت پاسخ
                                    @if (question.Answers.Count > 0)
                                    {
                                        @: جدید
                                    }
                                    <i class="bi bi-chevron-left"></i>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="break-line-in-single-page-of-product bg-custom-grey my-4"></div>
        </div>
        <div class="col-lg-3 d-none d-lg-block"></div>
    </div>
</div>

<div style="height: 1000px"></div>
@{
    var shareProductData = (productInfo.PersianTitle,
        Url.PageLink("/Product/ProductShortLink", null, new { productShortLink = productInfo.ProductShortLinkDisplayLink }));
}

<partial name="_ShareProductPartial" model="shareProductData" />

<!-- End other variants -->
@section CustomScripts
{
    <script src="~/Pages/Product/Index.cshtml.js"></script>
}

@section Scripts
{
    <script src="~/lib/js-image-zoom/js-image-zoom.min.js"></script>
}