@page "/product/pc-{productCode}/{slug}"
@model ProEShop.Web.Pages.Product.IndexModel
@{
    var productVariants = Model.ProductInfo.ProductVariants
        .OrderBy(x => x.Price)
        .ToList();
    var firstProductVariant = productVariants.First();
    var productFeatures = Model.ProductInfo.ProductFeatures
        .Where(x => x.FeatureShowNextToProduct).ToList();
    var showScore = Model.ProductInfo.Score > 0;
    var showCommentsCount = Model.ProductInfo.ProductCommentsCount > 0;
    var showQuestionsCount = false;
    var productTitle = Model.ProductInfo.PersianTitle;
    var productCategory = Model.ProductInfo.CategoryTitle;
    var productBrand = Model.ProductInfo.BrandTitleFa;
    var firstProductPicture = Model.ProductInfo.ProductMedia
        .First(x => !x.IsVideo).FileName;
    ViewData["Title"] = $"مشخصات، قیمت و خرید {productTitle}";
    ViewData["HeaderDescription"] =
        $"خرید اینترنتی {productTitle} و قیمت انواع {productCategory} {productBrand} از فروشگاه آنلاین پروشاپ. جدیدترین مدل های {productCategory} {productBrand} با بهترین قیمت در پروشاپ";
}
<!-- Start breadcrumb -->

<div class="container-fluid mt-3">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-page="../Index">فروشگاه پروشاپ</a>
            </li>
            @{
                var productCategoriesCount = Model.ProductInfo.ProductCategories.Count;
                var lastCategory = Model.ProductInfo.ProductCategories.Last();
            }
            @foreach (var category in Model.ProductInfo.ProductCategories.Take(productCategoriesCount - 1))
            {
                <li class="breadcrumb-item">
                    <a asp-page="@category.CategorySlug">
                        @category.CategoryTitle
                    </a>
                </li>
            }
            <li class="breadcrumb-item active">
                @lastCategory.CategoryTitle
            </li>
        </ol>
    </nav>
</div>

<!-- End breadcrumb -->
<!-- Start show product info -->

<div class="container-fluid bg-white pb-3" id="show-product-box">
    <div class="row mt-3">
        <div class="col-lg-4">
            <div class="row">
                <div class="col-2" id="buttons-next-to-gallery-box">
                    <ul class="list-inline">
                        <li class="text-danger">
                            فروش ویژه
                        </li>
                        <li>
                            <button type="button" class="btn" data-bs-toggle="tooltip" data-bs-placement="left"
                                    title="افزودن به علاقه مندی ها">
                                <i class="bi bi-heart"></i>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="btn" data-bs-toggle="tooltip" data-bs-placement="left"
                                    title="اشتراک گذاری">
                                <i class="bi bi-share-fill"></i>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="btn" data-bs-toggle="tooltip" data-bs-placement="left"
                                    title="اطلاع رسانی شگفت انگیز">
                                <i class="bi bi-bell"></i>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="btn" data-bs-toggle="tooltip" data-bs-placement="left" title="نمودار قیمت">
                                <i class="bi bi-graph-up"></i>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="btn" data-bs-toggle="tooltip" data-bs-placement="left" title="مقایسه">
                                <i class="bi bi-square-half"></i>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="btn" data-bs-toggle="tooltip" data-bs-placement="left"
                                    title="اضافه به لیست">
                                <i class="bi bi-list-ul"></i>
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="col-10">
                    <div class="border-bottom text-center">
                        <img src="~/images/products/@firstProductPicture" class="img-fluid pb-2 border-bottom"
                             alt="@productTitle">
                    </div>
                </div>
                <div class="text-center mt-3" id="product-thumbnails-box">
                    <ul class="list-inline">
                        @foreach (var media in Model.ProductInfo.ProductMedia.Where(x => !x.IsVideo))
                        {
                            <li class="list-inline-item rounded-3">
                                <button class="btn p-0 w-100 h-100">
                                    <img src="~/images/products/@media.FileName" class="w-100 h-100 p-1"
                                     alt="@productTitle">
                                </button>
                            </li>
                        }
                        @if (Model.ProductInfo.ProductMedia.Count(x => !x.IsVideo) > 4
                        || Model.ProductInfo.ProductMedia.Count(x => x.IsVideo) > 0)
                        {
                            <li class="list-inline-item rounded-3">
                                <button class="btn p-0 w-100 h-100">
                                    <i class="bi bi-three-dots"></i>
                                </button>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="d-flex">
                    @if (!string.IsNullOrWhiteSpace(@Model.ProductInfo.BrandLogoPicture))
                    {
                        <div>
                            <img src="~/images/brands/@Model.ProductInfo.BrandLogoPicture"
                             width="70" class="me-3" alt="@Model.ProductInfo.BrandTitleFa">
                        </div>
                    }
                    <div class="d-flex flex-column justify-content-between">
                        <div>
                            <a href="#">
                                @Model.ProductInfo.BrandTitleFa
                            </a>
                            /
                            <a href="#">
                                @Model.ProductInfo.CategoryTitle
                                @Model.ProductInfo.BrandTitleFa
                            </a>
                        </div>
                        <h5 id="product-fa-title-in-show-product-info">
                            @productTitle
                        </h5>
                    </div>
                </div>
            </div>
            <div class="row mt-2 mt-sm-3 mt-md-4">
                <div class="col-md-8">
                    <div class="d-flex align-items-center text-muted">
                        @if (!string.IsNullOrWhiteSpace(Model.ProductInfo.EnglishTitle))
                        {
                            <small class="me-2 text-custom-grey">
                                @Model.ProductInfo.EnglishTitle
                            </small>
                        }
                        <div id="product-en-title-line" class="flex-grow-1 bg-custom-grey"></div>
                    </div>
                    <div class="mt-2 d-flex@(!showScore && !showCommentsCount && !showQuestionsCount ? " d-none" : string.Empty)">
                        @if (showScore)
                        {
                            <!-- Stars -->

                            <div class="d-flex align-items-center me-2">
                                <span>
                                    <i class="bi bi-star-fill text-warning"></i>
                                    <span class="rem13px">
                                        @Model.ProductInfo.Score.ToString("0.#")
                                    </span>
                                    <span class="text-custom-grey rem12px">
                                        (
                                        @Model.ProductInfo.ProductCommentsLongCount
                                        نفر
                                        )
                                    </span>
                                </span>
                                <div class="bg-custom-grey mx-2 rounded-circle product-info-dots"></div>
                            </div>

                            <!-- End stars -->
                        }
                        @if (showCommentsCount)
                        {
                            <!-- Comments -->

                            <div class="d-flex align-items-center me-2">
                                <span class="rem13px text-info">
                                    @Model.ProductInfo.ProductCommentsCount
                                    دیدگاه
                                </span>
                                <div class="bg-custom-grey mx-2 rounded-circle product-info-dots"></div>
                            </div>

                            <!-- End comments -->
                        }
                        @if (showQuestionsCount)
                        {
                            <!-- Questions -->

                            <div class="d-flex align-items-center">
                                <span class="rem13px text-info">
                                    ۴۶۷۶
                                    پرسش
                                </span>
                            </div>

                            <!-- End questions -->
                        }
                    </div>
                    @if (showScore && Model.ProductInfo.SuggestPercentage > 70
                    //&& Model.ProductInfo.SuggestCount > 10
                    )
                    {
                        <div class="row mt-2 mt-md-3">
                            <span class="d-flex align-items-center">
                                <i class="bi bi-hand-thumbs-up text-success me-1 rem16px"></i>
                                <span class="rem13px">
                                    @(Model.ProductInfo.SuggestPercentage.ToString("0"))%
                                    (@Model.ProductInfo.SuggestCount)
                                    نفر از خریداران، این کالا را پیشنهاد کرده اند
                                </span>
                                <i class="bi bi-info-circle ms-2" data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="خریداران کالا با انتخاب یکی از گزینه های پیشنهاد یا عدم پیشنهاد، تجربه خرید خود را با کاربران به اشتراک می گذارند."></i>
                            </span>
                        </div>
                    }
                    <div class="mt-4">
                        <div class="fw-bold rem17px">
                            رنگ:
                            @firstProductVariant.VariantValue
                        </div>
                        <div class="d-flex mt-3" id="product-variants-box-in-show-product-info">
                            @foreach (var variant in productVariants
                            .GroupBy(x => x.VariantValue))
                            {
                                var currentVariant = variant.First();
                                <div data-bs-toggle="tooltip" data-bs-placement="bottom"
                                 title="@currentVariant.VariantValue"
                                 class="pointer-cursor rounded-circle d-flex justify-content-center align-items-center">
                                    <span class="rounded-circle d-flex justify-content-center align-items-center" style="background-color: @currentVariant.VariantColorCode">
                                        <i class="bi bi-check2 rem21px text-white d-none"></i>
                                    </span>
                                </div>
                            }
                        </div>
                    </div>
                    @if (productFeatures.Count > 0)
                    {
                        <div class="mt-4" id="features-next-to-product-box">
                            <div class="fw-bold rem17px">
                                ویژگی ها
                            </div>
                            <ul class="mt-3 p-0 rem13px">
                                @{
                                    var counter = 0;
                                }
                                @foreach (var feature in productFeatures)
                                {
                                    <li class="d-flex align-items-center my-2@(counter > 1 ? " d-none" : string.Empty)">
                                        <div class="bg-custom-grey mx-2 rounded-circle product-info-dots">
                                        </div>
                                        <div class="text-secondary">
                                            @feature.FeatureTitle
                                            :
                                            &nbsp;
                                        </div>
                                        <div class="fw-bold rem16px">
                                            @{
                                                var splitFeatureValue = feature.Value.Split("|||");
                                            }
                                            @string.Join("، ", splitFeatureValue)
                                        </div>
                                    </li>
                                    counter++;
                                }
                            </ul>
                            @if (productFeatures.Count() > 2)
                            {
                                <div class="text-info rem13px pointer-cursor" id="show-all-product-features">
                                    مشاهده بیشتر
                                    <i class="bi bi-chevron-left"></i>
                                </div>
                            }
                        </div>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.ProductInfo.CategoryProductPageGuide))
                    {
                        <div class="d-flex rem13px border-top mt-3 text-secondary">
                            <div class="d-flex align-items-center me-3">
                                <i class="bi bi-info-circle"></i>
                            </div>
                            <div class="pt-2" id="category-guide">
                                @Model.ProductInfo.CategoryProductPageGuide
                            </div>
                        </div>
                    }
                    @{
                        var showFreeDeliveryBox = firstProductVariant.Price < 500000 ? " d-none" : string.Empty;
                    }
                    <div class="d-flex border rounded-3 mt-4 justify-content-between p-3@(showFreeDeliveryBox)">
                        <div class="d-flex flex-column justify-content-between">
                            <span class="fw-bold">ارسال رایگان</span>
                            <span class="rem13px text-secondary">
                                برای سفارش‌ بالای
                                ۵۰۰
                                هزار تومان
                            </span>
                        </div>
                        <img width="100" src="~/images/application/free-delivery.png" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="border rounded-2 p-3" id="product-info-left-side-box">
                        <!-- 1 -->

                        <div class="d-flex justify-content-between align-items-center">
                            <div class="fw-bold">فروشنده</div>
                            @if (productVariants.Count(x => x.VariantValue == firstProductVariant.VariantValue) > 1)
                            {
                                <div class="text-info rem13px">
                                    @(productVariants.Count(x => x.VariantValue == firstProductVariant.VariantValue) - 1)
                                    فروشنده دیگر
                                </div>
                            }
                        </div>

                        <!-- End 1 -->
                        <!-- 2 -->

                        <div class="d-flex align-items-center mt-3">
                            @if (!string.IsNullOrWhiteSpace(firstProductVariant.SellerLogo))
                            {
                                <img class="me-3" width="50"
                                 src="~/images/seller-logos/@firstProductVariant.SellerLogo"
                                 alt="@firstProductVariant.SellerShopName" />
                            }
                            else
                            {
                                <i class="bi bi-shop me-2 rem21px"></i>
                            }
                            <div>
                                @firstProductVariant.SellerShopName
                            </div>
                        </div>

                        <!-- End 2 -->

                        <hr class="bg-secondary" />

                        <!-- 3 -->

                        <div class="d-flex align-items-center mt-3">
                            <i class="bi bi-shield-check me-2 rem21px"></i>
                            <div class="rem14px">
                                @firstProductVariant.GuaranteeFullTitle
                            </div>
                        </div>

                        <!-- End 3 -->

                        <hr class="bg-secondary" />

                        <!-- 4 -->

                        <div class="d-flex align-items-center mt-3">
                            <i class="bi bi-trophy me-2 rem21px"></i>
                            <div class="rem14px">
                                @firstProductVariant.Score
                                امتیاز پروشاپ
                                <i class="bi bi-info-circle" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                   title="بعد از پایان مهلت مرجوعی، برای دریافت امتیاز به صفحه ماموریت های پروشاپی سر بزنید."></i>
                            </div>
                        </div>

                        <!-- End 4 -->

                        <hr class="bg-secondary" />

                        <!-- 5 -->

                        <div class="d-flex justify-content-end align-items-center mt-3">
                            <span class="fw-bold rem21px">
                                @firstProductVariant.Price
                                تومان
                            </span>
                        </div>

                        <!-- End 5 -->

                        <div class="d-grid mt-3">
                            <button class="btn btn-danger rounded-3">
                                افزودن به سبد خرید
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End show product info -->

<!-- Other variants -->

<partial name="_OtherVariantsPartail" model="productVariants" />

<!-- End other variants -->
@section CustomScripts
{
    <script src="~/Pages/Product/Index.cshtml.js"></script>
}
