@model ProEShop.ViewModels.ProductShortLinks.ShowProductShortLinksViewModel
@if (Model.ProductShortLinks.Count > 0)
{
    <div class="table-responsive data-table-body">
        <table class="table table-bordered table-striped table-hover">
            <thead class="table-light">
                <tr>
                    <th>@Html.DisplayNameFor(x => x.ProductShortLinks[0].Id)</th>
                    <th>@Html.DisplayNameFor(x => x.ProductShortLinks[0].DisplayLink)</th>
                    <th>@Html.DisplayNameFor(x => x.ProductShortLinks[0].IsUsed)</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var shortLink in Model.ProductShortLinks)
                {
                    <tr>
                        <td>@shortLink.Id</td>
                        <td>@shortLink.DisplayLink</td>
                        <td>
                            @if (shortLink.IsUsed)
                            {
                                <button type="button" class="btn btn-warning">استفاده شده</button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-success">استفاده نشده</button>
                            }
                        </td>
                        <td>
                            <form asp-page-handler="Delete" class="d-inline-block">
                                <input type="hidden" name="shortLinkId" value="@shortLink.Id" />
                                <button type="button" class="btn btn-danger delete-row-button">حذف</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <!-- Pagination -->
    <div class="btn-toolbar my-3 d-flex justify-content-center" id="main-pagination">
            <div class="btn-group me-2">
                @if (Model.Pagination.CurrentPage != 1)
                {
                    <button value="1" type="button" class="btn btn-outline-primary">
                        <i class="bi bi-chevron-double-right"></i>
                    </button>
                    <button value="@(Model.Pagination.CurrentPage - 1)" type="button" class="btn btn-outline-primary">قبلی</button>
                }
                @for (int counter = Model.Pagination.StartPage; counter <= Model.Pagination.EndPage; counter++)
                {
                    <button value="@counter" type="button"
                    class="@(counter == Model.Pagination.CurrentPage ? "active " : string.Empty)btn btn-outline-primary">
                        @counter
                    </button>
                }
                @if (Model.Pagination.CurrentPage != Model.Pagination.PagesCount)
                {
                    <button value="@(Model.Pagination.CurrentPage + 1)" type="button" class="btn btn-outline-primary">بعدی</button>
                    <button data-bs-toggle="tooltip" data-bs-placement="top" title="کل صفحات @Model.Pagination.PagesCount" value="@Model.Pagination.PagesCount" type="button" class="btn btn-outline-primary">
                        <i class="bi bi-chevron-double-left"></i>
                        @Model.Pagination.PagesCount
                    </button>
                }
            </div>
            <div>
                <select id="page-count-selectbox" asp-for="Pagination.PageCount" class="form-select" asp-items="Html.GetEnumSelectList<ProEShop.ViewModels.PageCount>()"></select>
            </div>
        </div>
        <div class="col-10 col-sm-6 col-md-4 col-xl-3 m-auto">
            <div class="input-group">
                <input id="page-number-input" value="@Model.Pagination.CurrentPage" min="1" max="@Model.Pagination.PagesCount" type="number" class="form-control rtl-direction" placeholder="شماره صفحه">
                <button id="go-to-page-button" class="btn btn-outline-primary" type="submit">برو به صفحه</button>
            </div>
        </div>
        <!-- End pagination -->
</div>
}
else
{
    <partial name="_RecordNotFound" />
}