@model List<ProEShop.ViewModels.Carts.ShowCartInDropDownViewModel>
@{
    // تعداد محصولاتی که در داخل سبد خرید قرار دارند
    var allProductsCountInCart = Model.Sum(x => x.Count);

    // مجموع قیمت محصولاتی که در داخل سبد خرید وجود دارند
    // اگر تخفیف فعال داشته باشه از قیمت آف استفاده میکنیم
    // اگر تخفیف نداشته باشه از قیمت اصلی استفاده میکنیم
    var totalPriceOfCart = Model
        .Sum(x => x.IsDiscountActive ? x.ProductVariantOffPrice.Value : x.ProductVariantPrice);
}
<div all-products-count-in-cart="@allProductsCountInCart">
    <div class="d-flex justify-content-between rem14px p-2 pb-3">
        <div>
            <span class="persian-numbers">
                @allProductsCountInCart
            </span>
            کالا
        </div>
        <a asp-page="/Cart/Index" class="text-info">
            مشاهده سبد خرید
            <i class="bi bi-chevron-left"></i>
        </a>
    </div>
    <ul class="p-0 m-0 d-flex flex-column align-items-center">
        @foreach (var cartItem in Model)
        {
            <li class="d-flex justify-content-around py-2 align-items-center">
                <div>
                    <img width="100" src="~/images/products/@cartItem.ProductPicture" />
                    @if (cartItem.IsDiscountActive)
                    {
                        <div class="text-danger text-center fw-bold mt-3">
                            شگفت انگیز
                        </div>
                    }
                    <div class="mt-3">
                        @{
                            var isCartFull = false;
                            isCartFull = cartItem.Count == cartItem.ProductVariantCount // موجودی این محصول در انبار
                            ||
                            cartItem.Count == cartItem.ProductVariantMaxCountInCart; // حداکثر تعداد آیتم در سبد خرید
                        }
                        <div class="product-variant-in-cart-section d-flex align-items-center text-danger shadow rounded p-2" variant-id="@cartItem.ProductVariantId">
                            <span class="px-2 disable-selecting@(isCartFull ? " text-custom-grey" : " pointer-cursor")">
                                <form method="post" functionNameToCallInTheEnd="addProductVariantToCart"
                                  class="public-ajax-form" asp-page-handler="AddProductVariantToCart">
                                    <input type="hidden" name="productVariantId" value="@cartItem.ProductVariantId" />
                                    <input type="hidden" name="isIncrease" value="true" />
                                    <span class="rem20px increaseProductVariantInCartButton">+</span>
                                </form>
                            </span>
                            <span class="d-flex flex-column justify-content-between align-items-center px-2 disable-selecting product-variant-count-in-cart">
                                <span class="fw-bold persian-numbers">
                                    @cartItem.Count
                                </span>
                                <span class="text-custom-grey rem13px@(isCartFull ? string.Empty : " d-none")">
                                    حداکثر
                                </span>
                            </span>
                            <span class="px-2 disable-selecting pointer-cursor@(cartItem.Count == 1 ? string.Empty : " d-none")">
                                <form method="post" functionNameToCallInTheEnd="addProductVariantToCart"
                                  class="public-ajax-form" asp-page-handler="AddProductVariantToCart">
                                    <input type="hidden" name="productVariantId" value="@cartItem.ProductVariantId" />
                                    <span class="empty-variants-in-cart">
                                        <i class="bi bi-trash"></i>
                                    </span>
                                </form>
                            </span>
                            <span class="px-2 disable-selecting pointer-cursor@(cartItem.Count > 1 ? string.Empty : " d-none")">
                                <form method="post" functionNameToCallInTheEnd="addProductVariantToCart"
                                  class="public-ajax-form" asp-page-handler="AddProductVariantToCart">
                                    <input type="hidden" name="productVariantId" value="@cartItem.ProductVariantId" />
                                    <span class="rem20px decreaseProductVariantInCartButton">-</span>
                                </form>
                            </span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="rem15px fw-bold">
                        @cartItem.ProductVariantProductPersianTitle
                    </div>
                    @if (cartItem.ProductVariantVariantIsColor != null)
                    {
                        if (cartItem.ProductVariantVariantIsColor.Value)
                        {
                            <div class="d-flex align-items-center mt-3">
                                <div class="color-element-in-cart rounded-circle" style="background-color: @cartItem.ProductVariantVariantColorCode"></div>
                                <div class="ms-2">
                                    @cartItem.ProductVariantVariantValue
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="mt-3">
                                <i class="bi bi-sort-numeric-up"></i>
                                @cartItem.ProductVariantVariantValue
                            </div>
                        }
                    }
                    <div class="mt-3">
                        @if (cartItem.IsDiscountActive)
                        {
                            // این قیمت تخفیف دار نیست
                            // میزان تخفیف است
                            // مثلا یک جنس 100 هزاری با 10 درصد تخفیف میشه ده هزار
                            var calculatedOffPrice = cartItem.ProductVariantPrice -
                            cartItem.ProductVariantOffPrice.Value;
                            <div class="text-danger rem13px fw-bold">
                                <span class="persian-numbers">
                                    @calculatedOffPrice.ToString("#,0")
                                </span>
                                تومان تخفیف
                            </div>
                            <div class="fw-bold mt-2">
                                <span class="persian-numbers">
                                    @cartItem.ProductVariantOffPrice.Value.ToString("#,0")
                                </span>
                                تومان
                            </div>
                        }
                        else
                        {
                            <div class="fw-bold mt-2">
                                <span class="persian-numbers">
                                    @cartItem.ProductVariantPrice.ToString("#,0")
                                </span>
                                تومان
                            </div>
                        }
                    </div>
                </div>
            </li>
        }
    </ul>
    <div class="d-flex justify-content-between align-items-center p-2 border-top">
        <div>
            <div class="text-secondary rem13px mb-3">مبلغ قابل پرداخت</div>
            <div class="rem18px fw-bold">
                <span class="persian-numbers">
                    @totalPriceOfCart.ToString("#,0")
                </span>
                تومان
            </div>
        </div>
        <div>
            <a asp-page="/Cart/Checkout" class="btn btn-danger py-2 px-3">
                ثبت سفارش
            </a>
        </div>
    </div>
</div>