<!doctype html>
<html lang="fa" dir="rtl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.rtl.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/lib/toastr.js/toastr.min.css" />
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/main-styles.css">
    <link rel="stylesheet" href="~/ProEShop.Web.styles.css">
    <title>@ViewData["Title"] | پروشاپ</title>
    @if (ViewData["HeaderDescription"] != null)
    {
        <meta name="description" content="@ViewData["HeaderDescription"]" />
    }
</head>

<body is-authenticated="@(User.Identity.IsAuthenticated ? "true" : "false")" login-page-url="@Url.Page("/Identity/RegisterLogin")">

    <div class="container-fluid bg-white shadow-sm">
        <div class="row p-3" id="main-header">
            <div class="col-12 col-lg-2 text-center text-lg-start mb-3 mb-lg-0 ps-2">
                <img src="~/images/application/eshop.png" class="logo" />
            </div>
            <div class="col-lg-6 col-xl-5 col-md-9">
                <div class="input-group" id="main-search-box">
                    <span class="input-group-text bi bi-search">
                    </span>
                    <input id="main-search-input" type="text" class="form-control" />
                    <span class="input-group-text bi bi-x-circle text-danger"></span>
                </div>
            </div>
            <div class="col-md-3 col-lg-4 ms-auto text-end d-flex justify-content-center justify-content-md-end align-items-center">
                <a asp-page="/Identity/RegisterLogin" class="btn btn-light">
                    <i class="bi bi-box-arrow-in-left rem1and3"></i>
                    &nbsp;
                    <span>
                        ورود
                        <span class="d-none d-lg-inline-block">به حساب کاربری</span>
                    </span>
                </a>
                <!-- <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle dropstart" type="button" id="profile-dropdown-menu"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person rem1and3"></i>
                    </button>
                    <ul class="dropdown-menu shadow-sm" aria-labelledby="profile-dropdown-menu"
                        id="ul-profile-menus">
                        <li>
                            <a class="dropdown-item" href="#">
                                <div id="profile-menus">
                                    <img src="images/user-avatar.png" id="user-avatar-in-header" alt="">
                                    &nbsp;
                                    &nbsp;
                                    <div>
                                        <span>
                                            پیام شریعتی
                                        </span>
                                        <br />
                                        <span class="text-info rem0and75">
                                            مشاهده حساب کاربری
                                            <i class="bi bi-chevron-left"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="rem0and75 text-secondary" id="wallet-and-pro-kala-box">
                                    <div class="d-flex justify-content-between">
                                        <span>
                                            کیف پول
                                        </span>
                                        <span>
                                            ۰ تومان
                                        </span>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <span>
                                            پرو کلاب
                                        </span>
                                        <span>
                                            ۰ امتیار
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="profile-dropdown-menu-lines">
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="bi bi-card-checklist"></i>
                                سفارش های من
                            </a>
                        </li>
                        <li class="profile-dropdown-menu-lines">
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="bi bi-gift"></i>
                                جوایز پرو کلاب
                            </a>
                        </li>
                        <li class="profile-dropdown-menu-lines">
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="bi bi-box-arrow-right"></i>
                                خروج از حساب کاربری
                            </a>
                        </li>
                    </ul>
                </div> -->

                <span style="height: 26px; border-right: 1px solid #dad4d4;"></span>
                <div class="dropdown">
                    <button class="btn btn-light position-relative dropstart" type="button" id="profile-dropdown-menu"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-cart rem1and3"></i>
                        <span class="position-absolute top-100 start-50 translate-middle badge rounded-pill bg-danger">
                            ۱۰
                        </span>
                    </button>
                    <div class="dropdown-menu shadow-sm" aria-labelledby="profile-dropdown-menu"
                         id="ul-profile-menus">
                        body
                    </div>
                </div>
            </div>
        </div>
    </div>

    <vc:main-menu></vc:main-menu>

    @RenderBody()

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    @await RenderSectionAsync("Scripts", false)
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/main-scripts.js" asp-append-version="true"></script>
    @await RenderSectionAsync("CustomScripts", false)
</body>

</html>