@model List<ProEShop.ViewModels.Products.ShowProductInCompareViewModel>
@{
    var allFeatureTitles = new List<string>();

    foreach (var product in Model)
    {
        allFeatureTitles.AddRange(product.ProductFeatures.Select(x => x.FeatureTitle));
    }

    allFeatureTitles = allFeatureTitles.Distinct().ToList();
    var productsCount = Model.Count;
}

<div class="row mt-4 d-flex flex-nowrap custom-overflow-in-compare-page">
    @foreach (var product in Model)
    {
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 product-item-in-compare-page"
             product-code="@product.ProductCode">
            <div class="d-flex justify-content-end@(productsCount == 1 ? " invisible" : string.Empty)">
                <div class="pointer-cursor bg-secondary rounded-circle remove-button-in-compare-page d-flex justify-content-center text-white">
                    <i class="bi bi-x"></i>
                </div>
            </div>
            <a asp-page="/Product/Index" asp-route-slug="@product.Slug" asp-route-productCode="@product.ProductCode" target="_blank" class="mt-3 d-flex justify-content-center">
                <img src="~/images/products/@product.MainPicture" width="250" />
            </a>
            <div class="mt-3 product-name-in-compare-page rem15px text-center">
                @product.PersianTitle
            </div>
            @if (product.Score > 0)
            {
                <div class="d-flex justify-content-center mt-2 align-items-center">
                    <i class="bi bi-star-fill text-warning me-1"></i>
                    <span class="persian-numbers rem14px">
                        @product.Score.ToString("#.0")
                    </span>
                </div>
            }
            <div class="text-center mt-2">
                @if (product.Price > 0)
                {
                    <span class="persian-numbers">@product.Price.ToString("#,0")</span>
                    @:تومان
                }
                else
                {
                    @:ناموجود
                }
            </div>
        </div>
    }
    @if (productsCount < 4)
    {
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 d-flex justify-content-center align-items-center">
            <button type="button" class="btn btn-outline-danger btn-lg get-html-with-ajax"
                    functionNameToCallOnClick="showAddProduct">
                انتخاب کالا
            </button>
        </div>
    }
</div>

<div class="my-5 rem15px">مشخصات</div>

@foreach (var featureTitle in allFeatureTitles)
{
    <div class="product-details-item-in-compare-page my-2">
        <div class="mb-3 text-black-50">@featureTitle</div>
        <div class="row mb-3 rem14px d-flex flex-nowrap custom-overflow-in-compare-page">
            <div class="col-md-6 col-lg-4 col-xl-3 persian-numbers">
                @{
                    var feature1 = Model[0].ProductFeatures.SingleOrDefault(x => x.FeatureTitle == featureTitle);
                    if (feature1 != null)
                    {
                        var splitValue = feature1.Value.Split("|||");
                        if (splitValue.Length > 1)
                        {
                            foreach (var featureValue in splitValue)
                            {
                                <span class="badge bg-primary">@featureValue</span>
                            }
                        }
                        else
                        {
                            @feature1.Value
                        }
                    }
                }
            </div>
            @if (productsCount > 1)
            {
                <div class="col-md-6 col-lg-4 col-xl-3 persian-numbers">
                    @{
                        var feature2 = Model[1].ProductFeatures.SingleOrDefault(x => x.FeatureTitle == featureTitle);
                        if (feature2 != null)
                        {
                            var splitValue = feature2.Value.Split("|||");
                            if (splitValue.Length > 1)
                            {
                                foreach (var featureValue in splitValue)
                                {
                                    <span class="badge bg-primary">@featureValue</span>
                                }
                            }
                            else
                            {
                                @feature2.Value
                            }
                        }
                    }
                </div>
            }
            @if (productsCount > 2)
            {
                <div class="col-md-6 col-lg-4 col-xl-3 persian-numbers">
                    @{
                        var feature3 = Model[2].ProductFeatures.SingleOrDefault(x => x.FeatureTitle == featureTitle);
                        if (feature3 != null)
                        {
                            var splitValue = feature3.Value.Split("|||");
                            if (splitValue.Length > 1)
                            {
                                foreach (var featureValue in splitValue)
                                {
                                    <span class="badge bg-primary">@featureValue</span>
                                }
                            }
                            else
                            {
                                @feature3.Value
                            }
                        }
                    }
                </div>
            }
            @if (productsCount > 3)
            {
                <div class="col-md-6 col-lg-4 col-xl-3 persian-numbers">
                    @{
                        var feature4 = Model[3].ProductFeatures.SingleOrDefault(x => x.FeatureTitle == featureTitle);
                        if (feature4 != null)
                        {
                            var splitValue = feature4.Value.Split("|||");
                            if (splitValue.Length > 1)
                            {
                                foreach (var featureValue in splitValue)
                                {
                                    <span class="badge bg-primary">@featureValue</span>
                                }
                            }
                            else
                            {
                                @feature4.Value
                            }
                        }
                    }
                </div>
            }
        </div>
    </div>
}