@model ProEShop.ViewModels.ProductVariants.AddEditDiscountViewModel

<div class="row">
    <div class="card text-dark bg-white border-0 shadow">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3 text-center">
                    <img src="~/images/products/@Model.MainPicture" class="w-50" alt="@Model.ProductTitle" />
                </div>
                <div class="col-md-9">
                    <div class="alert alert-secondary">
                        <p class="mb-3 text-center text-primary">
                            <a asp-page="/Product/Index" asp-route-slug="@Model.Slug" asp-route-productCode="@Model.ProductCode" target="_blank">
                                @Model.ProductTitle
                            </a>
                        </p>
                        <div class="row text-center">
                            <div class="col-md-3">
                                دسته بندی:
                                @Model.ProductCategoryTitle
                            </div>
                            <div class="col-md-3">
                                تنوع مجاز این کالا:
                                @{
                                    var variantType = "بدون تنوع";
                                    if (Model.CategoryIsVariantColor != null)
                                    {
                                        variantType = Model.CategoryIsVariantColor.Value ? "رنگ" : "سایز";
                                    }
                                }
                                @variantType
                            </div>
                            <div class="col-md-3">
                                برند کالا:
                                @Model.ProductBrandFullTitle
                            </div>
                            <div class="col-md-3">
                                کمیسیون فروش این کالا:
                                %@Model.CommissionPercentage
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form functionNameToCallInTheEnd="addEditDiscountFunction"
                  method="post" class="public-ajax-form" asp-page-handler="AddEditDiscount">
                <input asp-for="Id" />
                <div class="row">
                    <div class="alert alert-info">
                        زمانیکه درصد تخفیف را وارد میکنید، اگر قیمت تخفیف رند نبود و قصد تغییر آن را داشتید، میتوانید مبلغ را بین آن درصد تخفیف، منهای یک، تا همان درصد تخفیف قرار دهید
                        برای مثال اگر 20 درصد تخیفیف وارد میکنید، میتوانید مبلغ تخفیف را بزرگتر مساوی 20 درصد و کوچکتر از 19 درصد قرار دهید.
                    </div>
                    <div class="text-danger" asp-validation-summary="All"></div>
                    <div class="col-md-4 my-2">
                        <label class="d-flex justify-content-between form-label" asp-for="Price">
                        </label>
                        <input disabled="disabled" asp-for="Price" class="form-control"/>
                        <span asp-validation-for="Price" class="span-error-message"></span>
                    </div>
                    <div class="col-md-4 my-2">
                        <label class="d-flex justify-content-between form-label" asp-for="OffPercentage">
                        </label>
                        <input asp-for="OffPercentage" class="form-control"/>
                        <span asp-validation-for="OffPercentage" class="span-error-message"></span>
                    </div>
                    <div class="col-md-4 my-2">
                        <label class="d-flex justify-content-between form-label" asp-for="OffPrice">
                        </label>
                        <input asp-for="OffPrice" class="form-control"/>
                        <span asp-validation-for="OffPrice" class="span-error-message"></span>
                    </div>
                    <div class="col-md-4 my-2">
                        <label class="d-flex justify-content-between form-label" asp-for="StartDateTime">
                        </label>
                        <div class="input-group">
                            <input date-en="@Model.StartDateTimeEn" readonly="readonly"
                                   class="custom-md-persian-datepicker form-control" asp-for="StartDateTime" />
                            <span class="input-group-text">
                                <i id="start-datetime-add-edit-discount" class="pointer-cursor bi bi-calendar2-date"></i>
                            </span>
                        </div>
                        <span asp-validation-for="StartDateTime" class="span-error-message"></span>
                    </div>
                    <div class="col-md-4 my-2">
                        <label class="d-flex justify-content-between form-label" asp-for="EndDateTime">
                        </label>
                        <div class="input-group">
                            <input date-en="@Model.EndDateTimeEn" readonly="readonly"
                                   class="custom-md-persian-datepicker form-control" asp-for="EndDateTime" />
                            <span class="input-group-text">
                                <i id="end-datetime-add-edit-discount" class="pointer-cursor bi bi-calendar2-date"></i>
                            </span>
                        </div>
                        <span asp-validation-for="EndDateTime" class="span-error-message"></span>
                    </div>
                </div>
                <div class="d-grid">
                    <input type="submit" class="btn btn-primary" value="ایجاد / ویرایش تخفیف" />
                </div>
            </form>
        </div>
    </div>
</div>