@page "{productId}"
@model ProEShop.Web.Pages.SellerPanel.Product.AddVariantModel
@{
    ViewData["Title"] = $"افزودن تنوع برای {Model.Variant.ProductTitle}";
}

<div class="row">
    <div class="card text-dark bg-white border-0 shadow">
        <div class="card-body">
            <div class="alert alert-danger">
                توجه:
                <br />
                لطفاً قبل از درج تنوع، مشخصات فنی کالا (مانند: رنگ، ابعاد، اقلام همراه کالا، جنس کالا، تصویر بسته‌بندی و ...) را در سایت چک کرده و اطمینان حاصل کنید که تنوع شما با مشخصات فنی کالا در سایت مطابقت داشته باشد.
            </div>
            <div class="row">
                <div class="col-md-3 text-center">
                    <img src="~/images/products/@Model.Variant.MainPicture" class="w-50" alt="@Model.Variant.ProductTitle" />
                </div>
                <div class="col-md-9">
                    <div class="alert alert-secondary">
                        <p class="mb-3 text-center text-primary">
                            <a asp-page="/Product/Index" asp-route-slug="@Model.Variant.Slug" asp-route-productCode="@Model.Variant.ProductCode" target="_blank">
                                @Model.Variant.ProductTitle
                            </a>
                        </p>
                        <div class="row text-center">
                            <div class="col-md-3">
                                دسته بندی:
                                @Model.Variant.CategoryTitle
                            </div>
                            <div class="col-md-3">
                                تنوع مجاز این کالا:
                                @{
                                    var variantType = "بدون تنوع";
                                    if (Model.Variant.CategoryIsVariantColor != null)
                                    {
                                        variantType = Model.Variant.CategoryIsVariantColor.Value ? "رنگ" : "سایز";
                                    }
                                }
                                @variantType
                            </div>
                            <div class="col-md-3">
                                برند کالا:
                                @Model.Variant.BrandFullTitle
                            </div>
                            <div class="col-md-3">
                                کمیسیون فروش این کالا:
                                %@Model.Variant.CommissionPercentage
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form functionNameToCallInTheEnd="addProductVariantFunction"
                  method="post" class="public-ajax-form">
                <input asp-for="Variant.ProductId" />
                @if (Model.Variant.CategoryIsVariantColor is null)
                {
                    <input asp-for="Variant.VariantId" value="1" />
                }
                else
                {
                    <input asp-for="Variant.VariantId" />
                }
                <div class="text-danger" asp-validation-summary="All"></div>
                <div class="row mt-5">
                    <div>
                        <label class="d-flex justify-content-between form-label">
                            <span>
                                @Html.DisplayNameFor(x => x.Variant.GuaranteeId)
                            </span>
                            <a id="request-new-guarantee" asp-page-handler="RequestForAddGuarantee" class="text-info border-bottom-dashed show-modal-form-button">
                                درخواست
                                گارانتی جدید
                            </a>
                        </label>
                        <select class="custom-select2 form-select" asp-for="Variant.GuaranteeId"></select>
                        <span asp-validation-for="Variant.GuaranteeId" class="span-error-message"></span>
                    </div>
                    @if (Model.Variant.CategoryIsVariantColor != null)
                    {
                        <div class="my-2" id="variant-box">
                            <label class="d-flex justify-content-between form-label">
                                <span>
                                    @Html.DisplayNameFor(x => x.Variant.VariantId)
                                </span>
                                <a id="request-new-variant" asp-page-handler="RequestForAddVariant" class="text-info border-bottom-dashed show-modal-form-button">
                                    درخواست
                                    سایز جدید
                                </a>
                            </label>
                            <span asp-validation-for="Variant.VariantId" class="span-error-message"></span>
                            <div class="border border-1 rounded mt-2 p-2" id="all-variant-box">
                                @foreach (var variant in Model.Variant.Variants)
                                {
                                    <button variant-id="@variant.VariantId"
                                            type="button" class="p-2 badge rounded-pill bg-primary border-0 variant-item-button">
                                        @variant.VariantValue
                                        @if (variant.VariantIsColor.Value)
                                        {
                                            <span class="rounded" style="background: @variant.VariantColorCode">
                                                &nbsp;
                                                &nbsp;
                                                &nbsp;
                                            </span>
                                        }
                                    </button>
                                }
                            </div>
                        </div>
                    }
                    <div class="my-2">
                        <label class="form-label" asp-for="Variant.Price">
                        </label>
                        <input asp-for="Variant.Price" class="form-control" />
                        <span asp-validation-for="Variant.Price" class="span-error-message"></span>
                    </div>
                    <div class="my-2">
                        <label class="form-label" asp-for="Variant.MaxCountInCart">
                        </label>
                        <input asp-for="Variant.MaxCountInCart" class="form-control" />
                        <span asp-validation-for="Variant.MaxCountInCart" class="span-error-message"></span>
                    </div>
                </div>
                <div class="d-grid">
                    <input type="submit" class="btn btn-primary" value="افزودن تنوع" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/lib/select2/js/i18n/fa.min.js"></script>
}
    @section CustomScripts{
    <script src="~/Pages/SellerPanel/Product/AddVariant.cshtml.js"></script>
}
    @section Styles
    {
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/lib/select2-bootstrap-5-theme/select2-bootstrap-5-theme.rtl.min.css" />
}
