@model ProEShop.ViewModels.CategoryVariants.EditCategoryVariantViewModel

<form class="alert alert-secondary custom-ajax-form" asp-page-handler="EditCategoryVariant" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="CategoryId" />
    @foreach (var variantId in Model.SelectedVariants)
    {
        <input name="SelectedVariants" type="hidden" value="@variantId" />
    }
    <div class="row">
        <div>
            <label class="d-flex justify-content-between form-label">
                تنوع های این دسته بندی
            </label>
            <div class="border border-1 rounded p-2" id="selected-variants-box">
                @foreach (var variant in Model.Variants.Where(x => Model.SelectedVariants.Contains(x.Id)))
                {
                    <button variant-id="@variant.Id"
                        type="button" class="p-2 badge rounded-pill bg-primary border-0">
                        @variant.Value
                        @if (variant.IsColor)
                        {
                            <span class="rounded me-1" style="background: @variant.ColorCode">
                                &nbsp;
                                &nbsp;
                                &nbsp;
                            </span>
                        }
                        @if (!Model.AddedVariantsToProductVariants.Contains(variant.Id))
                        {
                            <i class="bi bi-x-circle remove-selected-variant-button"></i>
                        }
                    </button>
                }
            </div>
        </div>
        <div>
            <label class="d-flex justify-content-between form-label">
                تمامی تنوع ها
            </label>
            <div class="border border-1 rounded p-2" id="all-variant-box">
                @foreach (var variant in Model.Variants)
                {
                    <button variant-id="@variant.Id"
                        type="button" class="p-2 badge rounded-pill bg-primary border-0 variant-item-button">
                        @variant.Value
                        @if (variant.IsColor)
                        {
                            <span class="rounded" style="background: @variant.ColorCode">
                                &nbsp;
                                &nbsp;
                                &nbsp;
                            </span>
                        }
                    </button>
                }
            </div>
        </div>
        <div class="col-12 my-2">
            <div class="d-grid d-lg-block">
                <button type="submit" class="btn btn-primary d-inline-flex align-items-center submit-custom-ajax-button">
                    ویرایش
                    <span class="spinner-border spinner-border-sm d-none ms-2"></span>
                </button>
            </div>
        </div>
    </div>
</form>