@page
@model ProEShop.Web.Pages.Admin.Category.IndexModel
@{
    ViewData["Title"] = "دسته بندی ها";
}

<div class="card text-dark bg-white border-0 shadow">
    <div class="card-body">
        <h5 class="card-title">
            @ViewData["Title"]
        </h5>
        <form class="alert alert-secondary">
            <div asp-validation-summary="All" class="text-danger"></div>
            <h5>
                جستجو در
                @ViewData["Title"]
            </h5>
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3 my-2">
                    <label class="form-form-label" asp-for="SearchCategories.Title"></label>
                    <input class="form-control" asp-for="SearchCategories.Title" />
                    <span class="span-error-message" asp-validation-for="SearchCategories.Title"></span>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 my-2">
                    <label class="form-form-label" asp-for="SearchCategories.Slug"></label>
                    <input class="form-control" asp-for="SearchCategories.Slug" />
                    <span class="span-error-message" asp-validation-for="SearchCategories.Slug"></span>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 my-2">
                    <label class="form-form-label" asp-for="SearchCategories.ShowInMenusStatus"></label>
                    <select class="form-select" asp-for="SearchCategories.ShowInMenusStatus" asp-items="Html.GetEnumSelectList<ProEShop.ViewModels.Categories.ShowInMenusStatus>()"></select>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 my-2">
                    <label class="form-form-label" asp-for="Categories.SearchCategories.DeletedStatus"></label>
                    <select class="form-select" asp-for="Categories.SearchCategories.DeletedStatus" asp-items="Html.GetEnumSelectList<ProEShop.ViewModels.DeletedStatus>()"></select>
                </div>
                <div class="col-12 my-2">
                    <div class="d-grid d-lg-block">
                        <button type="submit" class="btn btn-primary">جستجو ...</button>
                    </div>
                </div>
            </div>
        </form>
        @if (Model.Categories.Categories.Any())
        {
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                    <thead class="table-light">
                        <tr>
                            <th>@Html.DisplayNameFor(x => x.Categories.Categories[0].Title)</th>
                            <th>@Html.DisplayNameFor(x => x.Categories.Categories[0].Parent)</th>
                            <th>@Html.DisplayNameFor(x => x.Categories.Categories[0].Slug)</th>
                            <th>@Html.DisplayNameFor(x => x.Categories.Categories[0].ShowInMenus)</th>
                            <th>عملیات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Model.Categories.Categories)
                        {
                            <tr>
                                <td>@category.Title</td>
                                <td>@category.Parent</td>
                                <td>@category.Slug</td>
                                <td>
                                    @if (category.ShowInMenus)
                                    {
                                        <div class="d-grid">
                                            <span class="btn btn-success" type="button">بله</span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="d-grid">
                                            <span class="btn btn-success" type="button">خیر</span>
                                        </div>
                                    }
                                </td>
                                <td>
                                    <button class="btn btn-warning">ویرایش</button>
                                    <button class="btn btn-danger">حذف</button>
                                    <button class="btn btn-success">افزودن زیر دسته</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <partial name="_RecordNotFound" />
        }
    </div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}