@model ProEShop.ViewModels.Categories.ShowCategoriesViewModel
@if (Model.Categories.Count > 0)
{
    <div class="table-responsive data-table-body">
        <table class="table table-bordered table-striped table-hover">
            <thead class="table-light">
                <tr>
                    <th>@Html.DisplayNameFor(x => x.Categories[0].Id)</th>
                    <th>@Html.DisplayNameFor(x => x.Categories[0].Title)</th>
                    <th>@Html.DisplayNameFor(x => x.Categories[0].Parent)</th>
                    <th>@Html.DisplayNameFor(x => x.Categories[0].Slug)</th>
                    <th>@Html.DisplayNameFor(x => x.Categories[0].Picture)</th>
                    <th>@Html.DisplayNameFor(x => x.Categories[0].ShowInMenus)</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model.Categories)
                {
                    <tr>
                        <td>@category.Id</td>
                        <td>@category.Title</td>
                        <td>@category.Parent</td>
                        <td>@category.Slug</td>
                        <td>
                            @if (category.Picture == "بدون عکس")
                            {
                                <div class="d-grid">
                                    <span class="btn btn-warning" type="button">@category.Picture</span>
                                </div>
                            }
                            else
                            {
                                <span class="d-flex justify-content-center">
                                    <img src="~/images/categories/@category.Picture" class="rounded max-width-200" />
                                </span>
                            }
                        </td>
                        <td>
                            @if (category.ShowInMenus)
                            {
                                <div class="d-grid">
                                    <span class="btn btn-success" type="button">بله</span>
                                </div>
                            }
                            else
                            {
                                <div class="d-grid">
                                    <span class="btn btn-warning" type="button">خیر</span>
                                </div>
                            }
                        </td>
                        <td>
                            <a custom-title="ویرایش دسته بندی" asp-page-handler="Edit" asp-route-id="@category.Id" class="btn btn-warning show-modal-form-button">
                                ویرایش
                            </a>
                            @if (category.IsDeleted)
                            {
                                <form asp-page-handler="Restore" class="d-inline-block">
                                    <input type="hidden" name="elementId" value="@category.Id" />
                                    <button custom-message="آیا مطمئن به بازگردانی هستید ؟" type="button" class="btn btn-warning delete-row-button">بازگردانی</button>
                                </form>
                            }
                            else
                            {
                                <form asp-page-handler="Delete" class="d-inline-block">
                                    <input type="hidden" name="elementId" value="@category.Id" />
                                    <button type="button" class="btn btn-danger delete-row-button">حذف</button>
                                </form>
                            }
                            <a asp-page-handler="Add" asp-route-id="@category.Id" class="btn btn-success show-modal-form-button">
                                افزودن زیر دسته
                            </a>
                            @if (category.Picture != "بدون عکس")
                            {
                                <form asp-page-handler="DeletePicture" class="d-inline-block">
                                    <input type="hidden" name="elementId" value="@category.Id" />
                                    <button type="button" class="btn btn-danger delete-row-button">حذف تصویر</button>
                                </form>
                            }
                            <a custom-title="افزودن برند برای دسته &quot; @category.Title &quot;" asp-page-handler="AddBrand" asp-route-selectedCategoryId="@category.Id" class="btn btn-primary show-modal-form-button">
                                افزودن برند
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <!-- Pagination -->
    <div class="btn-toolbar my-3 d-flex justify-content-center" id="main-pagination">
        <div class="btn-group me-2">
            @if (Model.Pagination.CurrentPage != 1)
            {
                <button value="1" type="button" class="btn btn-outline-primary">
                    <i class="bi bi-chevron-double-right"></i>
                </button>
                <button value="@(Model.Pagination.CurrentPage - 1)" type="button" class="btn btn-outline-primary">قبلی</button>
            }
            @for (int counter = Model.Pagination.StartPage; counter <= Model.Pagination.EndPage; counter++)
            {
                <button value="@counter" type="button"
                        class="@(counter == Model.Pagination.CurrentPage ? "active " : string.Empty)btn btn-outline-primary">
                    @counter
                </button>
            }
            @if (Model.Pagination.CurrentPage != Model.Pagination.PagesCount)
            {
                <button value="@(Model.Pagination.CurrentPage + 1)" type="button" class="btn btn-outline-primary">بعدی</button>
                <button data-bs-toggle="tooltip" data-bs-placement="top" title="کل صفحات @Model.Pagination.PagesCount" value="@Model.Pagination.PagesCount" type="button" class="btn btn-outline-primary">
                    <i class="bi bi-chevron-double-left"></i>
                    @Model.Pagination.PagesCount
                </button>
            }
        </div>
        <div>
            <select id="page-count-selectbox" asp-for="Pagination.PageCount" class="form-select" asp-items="Html.GetEnumSelectList<ProEShop.ViewModels.PageCount>()"></select>
        </div>
        </div>
        <div class="col-10 col-sm-6 col-md-4 col-xl-3 m-auto">
            <div class="input-group">
                <input id="page-number-input" value="@Model.Pagination.CurrentPage" min="1" max="@Model.Pagination.PagesCount" type="number" class="form-control rtl-direction" placeholder="شماره صفحه">
                <button id="go-to-page-button" class="btn btn-outline-primary" type="submit">برو به صفحه</button>
            </div>
        </div>
        <!-- End pagination -->
</div>
}
else
{
    <partial name="_RecordNotFound" />
}